force-app/main/default/flows/Consent_Survey_English.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>UpdateConsentRecordEnglish</name>
        <label>UpdateConsentRecordEnglish</label>
        <locationX>869</locationX>
        <locationY>206</locationY>
        <actionName>RE_UpdateConsentFromFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>FinalScreenEnglish</targetReference>
        </connector>
        <inputParameters>
            <name>Communication_Preference</name>
            <value>
                <elementReference>Communication_Preference</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>consentId</name>
            <value>
                <elementReference>ConsentId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ConsentProvidedBy</name>
            <value>
                <elementReference>consType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ConsentToText</name>
            <value>
                <elementReference>ConsentToTextValue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>contactId</name>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>I_Agree</name>
            <value>
                <elementReference>Do_you_agree_to_share</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>invitationId</name>
            <value>
                <elementReference>InvitationId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>MobilePhone</name>
            <value>
                <elementReference>MobilePhoneValue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>prefMethodBolVal</name>
            <value>
                <elementReference>PrefMethod</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Required_Variables_Assignment</name>
        <label>Required Variables Assignment</label>
        <locationX>761</locationX>
        <locationY>467</locationY>
        <assignmentItems>
            <assignToReference>MobilePhoneValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mobile_Phone_Text_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsentToTextValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConsentToTextRequired</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateConsentRecordEnglish</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Variable_Assignment</name>
        <label>Variable Assignment</label>
        <locationX>679</locationX>
        <locationY>180</locationY>
        <assignmentItems>
            <assignToReference>MobilePhoneValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mobile_Phone_Text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsentToTextValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConsentToTextNotRequired</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateConsentRecordEnglish</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ConsentToTextChoice</name>
        <choiceText>&lt;span style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;I agree to receive automated text messages and understand that Message and D﻿ata rates may apply&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <choices>
        <name>Email</name>
        <choiceText>&lt;span style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;Email&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Email</stringValue>
        </value>
    </choices>
    <choices>
        <name>MobilePhoneChoice</name>
        <choiceText>&lt;span style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;Mobile Phone&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mobile Phone</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>&lt;span style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;No&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>false</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>&lt;span style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;Yes&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>true</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_if_Communication_Method_is_Captured</name>
        <label>Check if Communication Method is Captured</label>
        <locationX>244</locationX>
        <locationY>87</locationY>
        <defaultConnector>
            <targetReference>ConsentAgreement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Communication_Method</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrefMethod</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Communication_Data_Screen</targetReference>
            </connector>
            <label>Check Communication Method</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Checks_for_Variable</name>
        <label>Null Checks for Variable</label>
        <locationX>541</locationX>
        <locationY>355</locationY>
        <defaultConnector>
            <targetReference>Required_Variables_Assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Email_Variables</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Communication_Preference</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Variable_Assignment</targetReference>
            </connector>
            <label>Email Variables</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>PreferredCommunication</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PreferredCommunicationMethod__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>PhoneFormula</name>
        <dataType>Boolean</dataType>
        <expression>REGEX({!MobilePhoneTemp},{!PhoneRegex})</expression>
    </formulas>
    <interviewLabel>Consent Survey {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Consent Survey</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Communication_Data_Screen</name>
        <label>Communication Data Screen</label>
        <locationX>565</locationX>
        <locationY>90</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ConsentAgreement</targetReference>
        </connector>
        <fields>
            <name>Communication_Preference</name>
            <choiceReferences>Email</choiceReferences>
            <choiceReferences>MobilePhoneChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Communication Preference</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Mobile_Phone_Text</name>
            <dataType>String</dataType>
            <fieldText>Mobile Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Please enter a valid mobile phone number.&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!Mobile_Phone_Text},&quot;^[0][1-9]\\d{9}$|^[1-9]\\d{9}&quot;)</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Communication_Preference</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Email</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Mobile_Phone_Text_2</name>
            <dataType>String</dataType>
            <fieldText>Mobile Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Please enter a valid mobile phone number.&lt;/p&gt;</errorMessage>
                <formulaExpression>REGEX({!Mobile_Phone_Text_2},&quot;^[0][1-9]\\d{9}$|^[1-9]\\d{9}&quot;)</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Communication_Preference</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>MobilePhoneChoice</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ConsentToTextNotRequired</name>
            <choiceReferences>ConsentToTextChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Communication_Preference</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Email</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ConsentToTextRequired</name>
            <choiceReferences>ConsentToTextChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Communication_Preference</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Mobile Phone</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ConsentToTextErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(194, 57, 52); background-color: rgb(255, 255, 255);&quot;&gt;﻿&lt;/span&gt;&lt;span style=&quot;color: rgb(194, 57, 52); font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;If your communication preference is mobile phone, you must enter a mobile phone number and you must consent to receiving text messages&lt;/span&gt;&lt;span style=&quot;color: rgb(194, 57, 52); background-color: rgb(255, 255, 255);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1 AND (2 OR 3)</conditionLogic>
                <conditions>
                    <leftValueReference>Communication_Preference</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Mobile Phone</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ConsentToTextRequired</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Mobile_Phone_Text_2</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ConsentAgreement</name>
        <label>ConsentAgreement</label>
        <locationX>302</locationX>
        <locationY>426</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Null_Checks_for_Variable</targetReference>
        </connector>
        <fields>
            <name>ConsentAgreementText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 14px;&quot;&gt;The community partner or assister has requested to view your data in the kynect resources system. This data includes:&lt;/span&gt;&lt;/p&gt;&lt;ol&gt;&lt;li&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 14px;&quot;&gt;Your address&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 14px;&quot;&gt;Whether you are enrolled in the Medicaid, SNAP, TANF, or Child Care program(s)&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 14px;&quot;&gt;Your active case household   composition, including the age of other household members and the names of any other adults in the household, if applicable&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 14px;&quot;&gt;Your pending renewal dates for Medicaid, SNAP, TANF, or Child Care if you are enrolled&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 14px;&quot;&gt;Your kynect resources referrals (past and present), showing the number of referrals that are new, in progress, and closed&lt;/span&gt;&lt;/li&gt;&lt;/ol&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 14px;&quot;&gt;You have the ability to remove any community partner’s access to your data at any time within the kynect resources application.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Do_you_agree_to_share</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you agree to share this data with the community partner or assister?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ErrorMessageIAgree</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(194, 57, 52); font-size: 11px; font-family: sans-serif;&quot;&gt;{!ErrorMsgLastScreen}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Do_you_agree_to_share</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FinalScreenEnglish</name>
        <label>FinalScreen</label>
        <locationX>1037</locationX>
        <locationY>300</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ThankYou</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;Thanks for the feedback&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>74</locationX>
        <locationY>128</locationY>
        <connector>
            <targetReference>Check_if_Communication_Method_is_Captured</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ConsentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ConsentToTextValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>consType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ErrorMsgLastScreen</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Please Select a Choice</stringValue>
        </value>
    </variables>
    <variables>
        <name>InvitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MobilePhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MobilePhoneTemp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MobilePhoneValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PhoneRegex</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>^[0][1-9]\d{9}$|^[1-9]\d{9}</stringValue>
        </value>
    </variables>
    <variables>
        <name>PrefMethod</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ShowErrorMsg</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
