force-app/main/default/flows/Consent_Survey_Spanish.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>

<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    
    <actionCalls>
        
        <name>UpdateConsentRecordSpanish</name>
        
        <label>UpdateConsentRecordSpanish</label>
        
        <locationX>963</locationX>
        
        <locationY>251</locationY>
        
        <actionName>RE_UpdateConsentFromFlow</actionName>
        
        <actionType>apex</actionType>
        
        <connector>
            
            <targetReference>Final_Screen</targetReference>
            
        </connector>
        
        <inputParameters>
            
            <name>Communication_Preference</name>
            
            <value>
                
                <elementReference>Modo_de_comunicaci_n_que_prefiere</elementReference>
                
            </value>
            
        </inputParameters>
        
        <inputParameters>
            
            <name>consentId</name>
            
            <value>
                
                <elementReference>ConsentId</elementReference>
                
            </value>
            
        </inputParameters>
        
        <inputParameters>
            
            <name>ConsentProvidedBy</name>
            
            <value>
                
                <elementReference>consType</elementReference>
                
            </value>
            
        </inputParameters>
        
        <inputParameters>
            
            <name>ConsentToText</name>
            
            <value>
                
                <elementReference>ConsentToTextValue</elementReference>
                
            </value>
            
        </inputParameters>
        
        <inputParameters>
            
            <name>contactId</name>
            
            <value>
                
                <elementReference>ContactId</elementReference>
                
            </value>
            
        </inputParameters>
        
        <inputParameters>
            
            <name>I_Agree</name>
            
            <value>
                
                <elementReference>Est_de_acuerdo_en</elementReference>
                
            </value>
            
        </inputParameters>
        
        <inputParameters>
            
            <name>invitationId</name>
            
            <value>
                
                <elementReference>InvitationId</elementReference>
                
            </value>
            
        </inputParameters>
        
        <inputParameters>
            
            <name>MobilePhone</name>
            
            <value>
                
                <elementReference>MobilePhoneValue</elementReference>
                
            </value>
            
        </inputParameters>
        
        <inputParameters>
            
            <name>prefMethodBolVal</name>
            
            <value>
                
                <elementReference>PrefMethod</elementReference>
                
            </value>
            
        </inputParameters>
        
    </actionCalls>
    
    <assignments>
        
        <name>Celular_Variables</name>
        
        <label>Celular Variables</label>
        
        <locationX>757</locationX>
        
        <locationY>385</locationY>
        
        <assignmentItems>
            
            <assignToReference>MobilePhoneValue</assignToReference>
            
            <operator>Assign</operator>
            
            <value>
                
                <elementReference>Celular_Text</elementReference>
                
            </value>
            
        </assignmentItems>
        
        <assignmentItems>
            
            <assignToReference>ConsentToTextValue</assignToReference>
            
            <operator>Assign</operator>
            
            <value>
                
                <elementReference>ConsentToTextRequired</elementReference>
                
            </value>
            
        </assignmentItems>
        
        <connector>
            
            <targetReference>UpdateConsentRecordSpanish</targetReference>
            
        </connector>
        
    </assignments>
    
    <assignments>
        
        <name>Email_Variables</name>
        
        <label>Email Variables</label>
        
        <locationX>777</locationX>
        
        <locationY>163</locationY>
        
        <assignmentItems>
            
            <assignToReference>MobilePhoneValue</assignToReference>
            
            <operator>Assign</operator>
            
            <value>
                
                <elementReference>Celular_TextEmail</elementReference>
                
            </value>
            
        </assignmentItems>
        
        <assignmentItems>
            
            <assignToReference>ConsentToTextValue</assignToReference>
            
            <operator>Assign</operator>
            
            <value>
                
                <elementReference>ConsentToText</elementReference>
                
            </value>
            
        </assignmentItems>
        
        <connector>
            
            <targetReference>UpdateConsentRecordSpanish</targetReference>
            
        </connector>
        
    </assignments>
    
    <choices>
        
        <name>Celular</name>
        
        <choiceText>&lt;span style=&quot;font-family: sans-serif; font-size: 14px;&quot;&gt;Celular&lt;/span&gt;</choiceText>
        
        <dataType>String</dataType>
        
        <value>
            
            <stringValue>Celular</stringValue>
            
        </value>
        
    </choices>
    
    <choices>
        
        <name>ConsentToTextChoice</name>
        
        <choiceText>&lt;span style=&quot;font-family: sans-serif; font-size: 14px;&quot;&gt;Si su forma de comunicación preferida es el celular, debe dar su consentimiento para recibir mensajes de texto&lt;/span&gt;</choiceText>
        
        <dataType>String</dataType>
        
        <value>
            
            <stringValue>true</stringValue>
            
        </value>
        
    </choices>
    
    <choices>
        
        <name>Email</name>
        
        <choiceText>&lt;span style=&quot;font-family: sans-serif; font-size: 14px;&quot;&gt;Email&lt;/span&gt;</choiceText>
        
        <dataType>String</dataType>
        
        <value>
            
            <stringValue>Email</stringValue>
            
        </value>
        
    </choices>
    
    <choices>
        
        <name>No</name>
        
        <choiceText>&lt;span style=&quot;font-family: sans-serif; font-size: 14px;&quot;&gt;No&lt;/span&gt;</choiceText>
        
        <dataType>String</dataType>
        
        <value>
            
            <stringValue>false</stringValue>
            
        </value>
        
    </choices>
    
    <choices>
        
        <name>Si</name>
        
        <choiceText>&lt;span style=&quot;font-family: sans-serif; font-size: 14px;&quot;&gt;Si&lt;/span&gt;</choiceText>
        
        <dataType>String</dataType>
        
        <value>
            
            <stringValue>true</stringValue>
            
        </value>
        
    </choices>
    
    <decisions>
        
        <name>Check_if_Communication_Method_is_Captured</name>
        
        <label>Check if Communication Method is Captured</label>
        
        <locationX>142</locationX>
        
        <locationY>174</locationY>
        
        <defaultConnector>
            
            <targetReference>Consent_Agreement</targetReference>
            
        </defaultConnector>
        
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        
        <rules>
            
            <name>Check_Communication_Method</name>
            
            <conditionLogic>and</conditionLogic>
            
            <conditions>
                
                <leftValueReference>PrefMethod</leftValueReference>
                
                <operator>EqualTo</operator>
                
                <rightValue>
                    
                    <booleanValue>true</booleanValue>
                    
                </rightValue>
                
            </conditions>
            
            <connector>
                
                <targetReference>Communication_Data_Screen</targetReference>
                
            </connector>
            
            <label>Check Communication Method</label>
            
        </rules>
        
    </decisions>
    
    <decisions>
        
        <name>Null_Checks_For_Variables</name>
        
        <label>Null Checks For Variables</label>
        
        <locationX>512</locationX>
        
        <locationY>297</locationY>
        
        <defaultConnector>
            
            <targetReference>Celular_Variables</targetReference>
            
        </defaultConnector>
        
        <defaultConnectorLabel>Celular Variables</defaultConnectorLabel>
        
        <rules>
            
            <name>EmailVariablesAssignment</name>
            
            <conditionLogic>and</conditionLogic>
            
            <conditions>
                
                <leftValueReference>Modo_de_comunicaci_n_que_prefiere</leftValueReference>
                
                <operator>EqualTo</operator>
                
                <rightValue>
                    
                    <elementReference>Email</elementReference>
                    
                </rightValue>
                
            </conditions>
            
            <connector>
                
                <targetReference>Email_Variables</targetReference>
                
            </connector>
            
            <label>Email Variables</label>
            
        </rules>
        
    </decisions>
    
    <interviewLabel>Consent Survey Spanish {!$Flow.CurrentDateTime}</interviewLabel>
    
    <label>Consent Survey Spanish</label>
    
    <processMetadataValues>
        
        <name>BuilderType</name>
        
        <value>
            
            <stringValue>LightningFlowBuilder</stringValue>
            
        </value>
        
    </processMetadataValues>
    
    <processMetadataValues>
        
        <name>OriginBuilderType</name>
        
        <value>
            
            <stringValue>LightningFlowBuilder</stringValue>
            
        </value>
        
    </processMetadataValues>
    
    <processType>Flow</processType>
    
    <screens>
        
        <name>Communication_Data_Screen</name>
        
        <label>Communication Data Screen</label>
        
        <locationX>561</locationX>
        
        <locationY>88</locationY>
        
        <allowBack>true</allowBack>
        
        <allowFinish>true</allowFinish>
        
        <allowPause>false</allowPause>
        
        <connector>
            
            <targetReference>Consent_Agreement</targetReference>
            
        </connector>
        
        <fields>
            
            <name>Modo_de_comunicaci_n_que_prefiere</name>
            
            <choiceReferences>Email</choiceReferences>
            
            <choiceReferences>Celular</choiceReferences>
            
            <dataType>String</dataType>
            
            <fieldText>Modo de comunicación que prefiere</fieldText>
            
            <fieldType>DropdownBox</fieldType>
            
            <isRequired>true</isRequired>
            
        </fields>
        
        <fields>
            
            <name>Celular_TextEmail</name>
            
            <dataType>String</dataType>
            
            <fieldText>Celular</fieldText>
            
            <fieldType>InputField</fieldType>
            
            <isRequired>false</isRequired>
            
            <validationRule>
                
                <errorMessage>&lt;p&gt;Ingrese un número de celular válido&lt;/p&gt;</errorMessage>
                
                <formulaExpression>REGEX({!Celular_TextEmail},&quot;^[0][1-9]\\d{9}$|^[1-9]\\d{9}&quot;)</formulaExpression>
                
            </validationRule>
            
            <visibilityRule>
                
                <conditionLogic>and</conditionLogic>
                
                <conditions>
                    
                    <leftValueReference>Modo_de_comunicaci_n_que_prefiere</leftValueReference>
                    
                    <operator>EqualTo</operator>
                    
                    <rightValue>
                        
                        <elementReference>Email</elementReference>
                        
                    </rightValue>
                    
                </conditions>
                
            </visibilityRule>
            
        </fields>
        
        <fields>
            
            <name>Celular_Text</name>
            
            <dataType>String</dataType>
            
            <fieldText>Celular</fieldText>
            
            <fieldType>InputField</fieldType>
            
            <isRequired>true</isRequired>
            
            <validationRule>
                
                <errorMessage>&lt;p&gt;Ingrese un número de celular válido.&lt;/p&gt;</errorMessage>
                
                <formulaExpression>REGEX({!Celular_Text},&quot;^[0][1-9]\\d{9}$|^[1-9]\\d{9}&quot;)</formulaExpression>
                
            </validationRule>
            
            <visibilityRule>
                
                <conditionLogic>and</conditionLogic>
                
                <conditions>
                    
                    <leftValueReference>Modo_de_comunicaci_n_que_prefiere</leftValueReference>
                    
                    <operator>EqualTo</operator>
                    
                    <rightValue>
                        
                        <elementReference>Celular</elementReference>
                        
                    </rightValue>
                    
                </conditions>
                
            </visibilityRule>
            
        </fields>
        
        <fields>
            
            <name>ConsentToText</name>
            
            <choiceReferences>ConsentToTextChoice</choiceReferences>
            
            <dataType>String</dataType>
            
            <fieldType>MultiSelectCheckboxes</fieldType>
            
            <isRequired>false</isRequired>
            
            <visibilityRule>
                
                <conditionLogic>and</conditionLogic>
                
                <conditions>
                    
                    <leftValueReference>Modo_de_comunicaci_n_que_prefiere</leftValueReference>
                    
                    <operator>EqualTo</operator>
                    
                    <rightValue>
                        
                        <elementReference>Email</elementReference>
                        
                    </rightValue>
                    
                </conditions>
                
            </visibilityRule>
            
        </fields>
        
        <fields>
            
            <name>ConsentToTextRequired</name>
            
            <choiceReferences>ConsentToTextChoice</choiceReferences>
            
            <dataType>String</dataType>
            
            <fieldType>MultiSelectCheckboxes</fieldType>
            
            <isRequired>true</isRequired>
            
            <visibilityRule>
                
                <conditionLogic>and</conditionLogic>
                
                <conditions>
                    
                    <leftValueReference>Modo_de_comunicaci_n_que_prefiere</leftValueReference>
                    
                    <operator>EqualTo</operator>
                    
                    <rightValue>
                        
                        <elementReference>Celular</elementReference>
                        
                    </rightValue>
                    
                </conditions>
                
            </visibilityRule>
            
        </fields>
        
        <fields>
            
            <name>ConsentToTextCustomError</name>
            
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(194, 57, 52); font-family: sans-serif; font-size: 11px; background-color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;&lt;span style=&quot;color: rgb(194, 57, 52); font-family: sans-serif; font-size: 11px;&quot;&gt;Si su forma de comunicación preferida es el celular, debe dar su consentimiento para recibir mensajes de texto&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            
            <fieldType>DisplayText</fieldType>
            
            <visibilityRule>
                
                <conditionLogic>1 AND (2 OR 3)</conditionLogic>
                
                <conditions>
                    
                    <leftValueReference>Modo_de_comunicaci_n_que_prefiere</leftValueReference>
                    
                    <operator>EqualTo</operator>
                    
                    <rightValue>
                        
                        <stringValue>Celular</stringValue>
                        
                    </rightValue>
                    
                </conditions>
                
                <conditions>
                    
                    <leftValueReference>ConsentToTextRequired</leftValueReference>
                    
                    <operator>IsNull</operator>
                    
                    <rightValue>
                        
                        <booleanValue>true</booleanValue>
                        
                    </rightValue>
                    
                </conditions>
                
                <conditions>
                    
                    <leftValueReference>Celular_Text</leftValueReference>
                    
                    <operator>IsNull</operator>
                    
                    <rightValue>
                        
                        <booleanValue>true</booleanValue>
                        
                    </rightValue>
                    
                </conditions>
                
            </visibilityRule>
            
        </fields>
        
        <showFooter>true</showFooter>
        
        <showHeader>false</showHeader>
        
    </screens>
    
    <screens>
        
        <name>Consent_Agreement</name>
        
        <label>Consent Agreement</label>
        
        <locationX>372</locationX>
        
        <locationY>324</locationY>
        
        <allowBack>true</allowBack>
        
        <allowFinish>true</allowFinish>
        
        <allowPause>false</allowPause>
        
        <connector>
            
            <targetReference>Null_Checks_For_Variables</targetReference>
            
        </connector>
        
        <fields>
            
            <name>ConsentAgreement</name>
            
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;El socio en la comunidad o asistente ha pedido ver sus datos en el sistema BackYard. Eso incluye:&lt;/span&gt;&lt;/p&gt;&lt;ol&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;Su dirección&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;Si usted ya está inscrito/a en el programa o programas de Medicaid, SNAP, TANF o Cuidados Infantiles&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;La composición del hogar de su caso activo, incluida la edad de otros miembros del hogar y los nombres de todos los demás adultos en el hogar, si corresponde&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;Las fechas de renovación pendientes para usted para Medicaid, SNAP, TANF o Cuidados Infantiles si usted está inscrito/a&amp;nbsp;&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;Sus referencias para BackYard (anteriores y actuales), que muestren la cantidad de referencias que son nuevas, en progreso y cerradas&lt;/span&gt;&lt;/li&gt;&lt;/ol&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;Usted tiene la capacidad de eliminar el acceso de un socio de la comunidad a sus datos en todo momento en la aplicación BackYard.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            
            <fieldType>DisplayText</fieldType>
            
        </fields>
        
        <fields>
            
            <name>Est_de_acuerdo_en</name>
            
            <choiceReferences>Si</choiceReferences>
            
            <choiceReferences>No</choiceReferences>
            
            <dataType>String</dataType>
            
            <fieldText>Está de acuerdo en compartir estos datos con el socio en la comunidad o asistente?</fieldText>
            
            <fieldType>RadioButtons</fieldType>
            
            <isRequired>true</isRequired>
            
        </fields>
        
        <fields>
            
            <name>LastScreenErrorMessage</name>
            
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 11px; color: rgb(194, 57, 52);&quot;&gt;Seleccione una opción.&lt;/span&gt;&lt;/p&gt;</fieldText>
            
            <fieldType>DisplayText</fieldType>
            
            <visibilityRule>
                
                <conditionLogic>and</conditionLogic>
                
                <conditions>
                    
                    <leftValueReference>Est_de_acuerdo_en</leftValueReference>
                    
                    <operator>IsNull</operator>
                    
                    <rightValue>
                        
                        <booleanValue>true</booleanValue>
                        
                    </rightValue>
                    
                </conditions>
                
            </visibilityRule>
            
        </fields>
        
        <showFooter>true</showFooter>
        
        <showHeader>false</showHeader>
        
    </screens>
    
    <screens>
        
        <name>Final_Screen</name>
        
        <label>Final Screen</label>
        
        <locationX>1098</locationX>
        
        <locationY>261</locationY>
        
        <allowBack>true</allowBack>
        
        <allowFinish>true</allowFinish>
        
        <allowPause>true</allowPause>
        
        <fields>
            
            <name>ThankYou</name>
            
            <fieldText>&lt;p&gt;Thanks for the feedback&lt;/p&gt;</fieldText>
            
            <fieldType>DisplayText</fieldType>
            
        </fields>
        
        <showFooter>false</showFooter>
        
        <showHeader>false</showHeader>
        
    </screens>
    
    <start>
        
        <locationX>50</locationX>
        
        <locationY>84</locationY>
        
        <connector>
            
            <targetReference>Check_if_Communication_Method_is_Captured</targetReference>
            
        </connector>
        
    </start>
    
    <status>Active</status>
    
    <variables>
        
        <name>ConsentId</name>
        
        <dataType>String</dataType>
        
        <isCollection>false</isCollection>
        
        <isInput>true</isInput>
        
        <isOutput>true</isOutput>
        
    </variables>
    
    <variables>
        
        <name>ConsentToTextValue</name>
        
        <dataType>String</dataType>
        
        <isCollection>false</isCollection>
        
        <isInput>true</isInput>
        
        <isOutput>true</isOutput>
        
    </variables>
    
    <variables>
        
        <name>consType</name>
        
        <dataType>String</dataType>
        
        <isCollection>false</isCollection>
        
        <isInput>true</isInput>
        
        <isOutput>true</isOutput>
        
    </variables>
    
    <variables>
        
        <name>ContactId</name>
        
        <dataType>String</dataType>
        
        <isCollection>false</isCollection>
        
        <isInput>true</isInput>
        
        <isOutput>true</isOutput>
        
    </variables>
    
    <variables>
        
        <name>InvitationId</name>
        
        <dataType>String</dataType>
        
        <isCollection>false</isCollection>
        
        <isInput>true</isInput>
        
        <isOutput>true</isOutput>
        
    </variables>
    
    <variables>
        
        <name>MobilePhoneEnglish</name>
        
        <dataType>String</dataType>
        
        <isCollection>false</isCollection>
        
        <isInput>true</isInput>
        
        <isOutput>true</isOutput>
        
    </variables>
    
    <variables>
        
        <name>MobilePhoneValue</name>
        
        <dataType>String</dataType>
        
        <isCollection>false</isCollection>
        
        <isInput>true</isInput>
        
        <isOutput>true</isOutput>
        
    </variables>
    
    <variables>
        
        <name>PrefMethod</name>
        
        <dataType>Boolean</dataType>
        
        <isCollection>false</isCollection>
        
        <isInput>true</isInput>
        
        <isOutput>true</isOutput>
        
    </variables>
    
</Flow>
