force-app/main/default/flows/Consent_Survey_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <choices>
        <name>Celular</name>
        <choiceText>Celular</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Celular</stringValue>
        </value>
    </choices>
    <choices>
        <name>Email</name>
        <choiceText>Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Email</stringValue>
        </value>
    </choices>
    <choices>
        <name>English</name>
        <choiceText>English</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>English</stringValue>
        </value>
    </choices>
    <choices>
        <name>MobilePhone</name>
        <choiceText>{!CommunicationMethodPicklist}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mobile Phone</stringValue>
        </value>
    </choices>
    <choices>
        <name>Spanish</name>
        <choiceText>Español</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Spanish</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_if_Survey_is_Already_Completed</name>
        <label>Check if Survey is Already Completed</label>
        <locationX>135</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>SurveySubmittedScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_if_Survey_Submitted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InvitationExpiryDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Language_Selection_Screen</targetReference>
            </connector>
            <label>Check if Survey Submitted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Language_Check</name>
        <label>Language Check</label>
        <locationX>439</locationX>
        <locationY>334</locationY>
        <defaultConnector>
            <targetReference>Consent_Survey_Spanish</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Spanish Flow</defaultConnectorLabel>
        <rules>
            <name>English_Flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_your_Language1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>English</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Consent_Survey_English</targetReference>
            </connector>
            <label>English Flow</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CommunicationMethodPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PreferredCommunicationMethod__c</picklistField>
        <picklistObject>Contact</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Consent Survey Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Consent Survey Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Consent_Records</name>
        <label>Get Consent Records</label>
        <locationX>418</locationX>
        <locationY>137</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Survey_is_Already_Completed</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ConsentId</elementReference>
            </value>
        </filters>
        <object>Consent__c</object>
        <outputAssignments>
            <assignToReference>ContactId</assignToReference>
            <field>Client__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ConsentId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_SurveyInvitation_Records</name>
        <label>Get SurveyInvitation Records</label>
        <locationX>196</locationX>
        <locationY>60</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Consent_Records</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>InvitationId</elementReference>
            </value>
        </filters>
        <object>SurveyInvitation</object>
        <outputAssignments>
            <assignToReference>ConsentId</assignToReference>
            <field>Consent__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>InvitationExpiryDate</assignToReference>
            <field>Flow_Expiration_Date__c</field>
        </outputAssignments>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <screens>
        <name>Language_Selection_Screen</name>
        <label>Language Selection Screen</label>
        <locationX>257</locationX>
        <locationY>395</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Language_Check</targetReference>
        </connector>
        <fields>
            <name>Choose_your_Language1</name>
            <choiceReferences>English</choiceReferences>
            <choiceReferences>Spanish</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>English</defaultSelectedChoiceReference>
            <fieldText>Choose your Language</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>LanguageError</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 11px; font-family: sans-serif; color: rgb(194, 57, 52);&quot;&gt;Please select a choice.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Choose_your_Language1</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SurveySubmittedScreen</name>
        <label>SurveySubmittedScreen</label>
        <locationX>33</locationX>
        <locationY>372</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SurveySubmitted</name>
            <fieldText>&lt;p&gt;The Survey is already submitted&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>76</locationX>
        <locationY>175</locationY>
        <connector>
            <targetReference>Get_SurveyInvitation_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Consent_Survey_English</name>
        <label>Consent Survey English</label>
        <locationX>655</locationX>
        <locationY>162</locationY>
        <flowName>Consent_Survey_English</flowName>
        <inputAssignments>
            <name>ConsentId</name>
            <value>
                <elementReference>ConsentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InvitationId</name>
            <value>
                <elementReference>InvitationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PrefMethod</name>
            <value>
                <elementReference>PrefMethod</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>consType</name>
            <value>
                <elementReference>consType</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Consent_Survey_Spanish</name>
        <label>Consent Survey Spanish</label>
        <locationX>647</locationX>
        <locationY>438</locationY>
        <flowName>Consent_Survey_Spanish</flowName>
        <inputAssignments>
            <name>ConsentId</name>
            <value>
                <elementReference>ConsentId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InvitationId</name>
            <value>
                <elementReference>InvitationId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>PrefMethod</name>
            <value>
                <elementReference>PrefMethod</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>consType</name>
            <value>
                <elementReference>consType</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>communicationMethodCheck</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ConsentAgreementValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ConsentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ConsentStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>consType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>InvitationExpiryDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>InvitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MobilePhoneValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>PrefMethod</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>singleSurveyInvitationRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SurveyInvitation</objectType>
    </variables>
</Flow>
