force-app/main/default/flows/Non_Citizen_Consent_Page_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>

<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    
    <assignments>
        
        <name>Assignment_UserRejected</name>
        
        <label>Assignment_UserRejected</label>
        
        <locationX>1945</locationX>
        
        <locationY>433</locationY>
        
        <assignmentItems>
            
            <assignToReference>LoginFlow_ForceLogout</assignToReference>
            
            <operator>Assign</operator>
            
            <value>
                
                <elementReference>getForceLogoutValueFromLWC</elementReference>
                
            </value>
            
        </assignmentItems>
        
        <connector>
            
            <targetReference>Reset_Show_Citizen_Dashboard_Flag</targetReference>
            
        </connector>
        
    </assignments>
    
    <assignments>
        
        <name>AssignmentREVersion</name>
        
        <label>AssignmentREVersion</label>
        
        <locationX>1311</locationX>
        
        <locationY>685</locationY>
        
        <assignmentItems>
            
            <assignToReference>UserAgreement_Version</assignToReference>
            
            <operator>Assign</operator>
            
            <value>
                
                <elementReference>REMetadataRecord.Version__c</elementReference>
                
            </value>
            
        </assignmentItems>
        
        <connector>
            
            <targetReference>UpdateUserAgreementVersion</targetReference>
            
        </connector>
        
    </assignments>
    
    <assignments>
        
        <name>RE_Metadata_Assignment</name>
        
        <label>RE_Metadata_Assignment</label>
        
        <locationX>869</locationX>
        
        <locationY>345</locationY>
        
        <assignmentItems>
            
            <assignToReference>REMetadataRecord</assignToReference>
            
            <operator>Assign</operator>
            
            <value>
                
                <elementReference>MetadataRecordsLoop</elementReference>
                
            </value>
            
        </assignmentItems>
        
        <connector>
            
            <targetReference>MetadataRecordsLoop</targetReference>
            
        </connector>
        
    </assignments>
    
    <assignments>
        
        <name>SSP_Metadata_Assignment</name>
        
        <label>SSP_Metadata_Assignment</label>
        
        <locationX>495</locationX>
        
        <locationY>344</locationY>
        
        <assignmentItems>
            
            <assignToReference>SSPMetadataRecord</assignToReference>
            
            <operator>Assign</operator>
            
            <value>
                
                <elementReference>MetadataRecordsLoop</elementReference>
                
            </value>
            
        </assignmentItems>
        
        <connector>
            
            <targetReference>MetadataRecordsLoop</targetReference>
            
        </connector>
        
    </assignments>
    
    <constants>
        
        <description>Non Citizen Profile Name Constant</description>
        
        <name>NonCitizenProfileName</name>
        
        <dataType>String</dataType>
        
        <value>
            
            <stringValue>SSP Non Citizen Profile</stringValue>
            
        </value>
        
    </constants>
    
    <decisions>
        
        <description>to check if current Community is SSP or RE. RE is evaluated as Default outcome.</description>
        
        <name>decision_SSP_or_RE</name>
        
        <label>decision_SSP_or_RE</label>
        
        <locationX>1393</locationX>
        
        <locationY>73</locationY>
        
        <defaultConnector>
            
            <targetReference>Acceptance_of_Consent_Page</targetReference>
            
        </defaultConnector>
        
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        
        <rules>
            
            <name>is_SSP_Community</name>
            
            <conditionLogic>and</conditionLogic>
            
            <conditions>
                
                <leftValueReference>LoginFlow_Community</leftValueReference>
                
                <operator>Contains</operator>
                
                <rightValue>
                    
                    <elementReference>$Label.ssp_LoginFlowsCommunityVariable</elementReference>
                    
                </rightValue>
                
            </conditions>
            
            <connector>
                
                <targetReference>UseofThisWebsite</targetReference>
                
            </connector>
            
            <label>is_SSP_Community</label>
            
        </rules>
        
    </decisions>
    
    <decisions>
        
        <name>desicion_UserAgreedOrRejected</name>
        
        <label>desicion_UserAgreedOrRejected</label>
        
        <locationX>1758</locationX>
        
        <locationY>273</locationY>
        
        <defaultConnector>
            
            <targetReference>Reset_Show_Citizen_Dashboard_Flag</targetReference>
            
        </defaultConnector>
        
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        
        <rules>
            
            <name>User_Rejected</name>
            
            <conditionLogic>and</conditionLogic>
            
            <conditions>
                
                <leftValueReference>getForceLogoutValueFromLWC</leftValueReference>
                
                <operator>EqualTo</operator>
                
                <rightValue>
                    
                    <booleanValue>true</booleanValue>
                    
                </rightValue>
                
            </conditions>
            
            <connector>
                
                <targetReference>Assignment_UserRejected</targetReference>
                
            </connector>
            
            <label>User Rejected</label>
            
        </rules>
        
    </decisions>
    
    <decisions>
        
        <name>is_SSP_or_RE</name>
        
        <label>is SSP or RE Metadata</label>
        
        <locationX>668</locationX>
        
        <locationY>283</locationY>
        
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        
        <rules>
            
            <name>is_SSP</name>
            
            <conditionLogic>and</conditionLogic>
            
            <conditions>
                
                <leftValueReference>MetadataRecordsLoop.Community_Name__c</leftValueReference>
                
                <operator>EqualTo</operator>
                
                <rightValue>
                    
                    <stringValue>SSP</stringValue>
                    
                </rightValue>
                
            </conditions>
            
            <connector>
                
                <targetReference>SSP_Metadata_Assignment</targetReference>
                
            </connector>
            
            <label>is SSP</label>
            
        </rules>
        
        <rules>
            
            <name>Is_RE_or_Blank</name>
            
            <conditionLogic>or</conditionLogic>
            
            <conditions>
                
                <leftValueReference>MetadataRecordsLoop.Community_Name__c</leftValueReference>
                
                <operator>EqualTo</operator>
                
                <rightValue>
                    
                    <stringValue>RE</stringValue>
                    
                </rightValue>
                
            </conditions>
            
            <conditions>
                
                <leftValueReference>MetadataRecordsLoop.Community_Name__c</leftValueReference>
                
                <operator>IsNull</operator>
                
                <rightValue>
                    
                    <booleanValue>true</booleanValue>
                    
                </rightValue>
                
            </conditions>
            
            <connector>
                
                <targetReference>RE_Metadata_Assignment</targetReference>
                
            </connector>
            
            <label>Is RE or Blank</label>
            
        </rules>
        
    </decisions>
    
    <decisions>
        
        <name>VerifyConsentedVersion</name>
        
        <label>VerifyConsentedVersion</label>
        
        <locationX>1230</locationX>
        
        <locationY>442</locationY>
        
        <defaultConnector>
            
            <targetReference>AssignmentREVersion</targetReference>
            
        </defaultConnector>
        
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        
        <rules>
            
            <name>Same_and_RE</name>
            
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            
            <conditions>
                
                <leftValueReference>REMetadataRecord.Version__c</leftValueReference>
                
                <operator>NotEqualTo</operator>
                
                <rightValue>
                    
                    <elementReference>UserObj.UserAgreementVersion__c</elementReference>
                    
                </rightValue>
                
            </conditions>
            
            <conditions>
                
                <leftValueReference>UserObj.RE_Selected_Role__c</leftValueReference>
                
                <operator>EqualTo</operator>
                
                <rightValue>
                    
                    <stringValue>Community Partner Admin</stringValue>
                    
                </rightValue>
                
            </conditions>
            
            <conditions>
                
                <leftValueReference>UserObj.RE_Selected_Role__c</leftValueReference>
                
                <operator>EqualTo</operator>
                
                <rightValue>
                    
                    <stringValue>Community Partner Staff</stringValue>
                    
                </rightValue>
                
            </conditions>
            
            <conditions>
                
                <leftValueReference>UserObj.RE_Selected_Role__c</leftValueReference>
                
                <operator>EqualTo</operator>
                
                <rightValue>
                    
                    <stringValue>Assister</stringValue>
                    
                </rightValue>
                
            </conditions>
            
            <connector>
                
                <targetReference>UserAgreementScreen</targetReference>
                
            </connector>
            
            <label>Same and RE</label>
            
        </rules>
        
    </decisions>
    
    <description>updated version to replace harcoded /benefind with Custom label- ssp_LoginFlowsCommunityVariable
Removed Display text</description>
    
    <formulas>
        
        <name>ConsentText</name>
        
        <dataType>String</dataType>
        
        <expression>{!$Label.UserConsentText}</expression>
        
    </formulas>
    
    <formulas>
        
        <description>Current user Id</description>
        
        <name>UserId</name>
        
        <dataType>String</dataType>
        
        <expression>{!$User.Id}</expression>
        
    </formulas>
    
    <formulas>
        
        <name>WarningSymbol</name>
        
        <dataType>String</dataType>
        
        <expression>{!$Label.UserConsentWarning}</expression>
        
    </formulas>
    
    <interviewLabel>Non-Citizen Consent Page Flow {!$Flow.CurrentDateTime}</interviewLabel>
    
    <label>Non-Citizen Consent Page Flow</label>
    
    <loops>
        
        <name>MetadataRecordsLoop</name>
        
        <label>MetadataRecordsLoop</label>
        
        <locationX>679</locationX>
        
        <locationY>67</locationY>
        
        <collectionReference>list_MetadataRecords</collectionReference>
        
        <iterationOrder>Asc</iterationOrder>
        
        <nextValueConnector>
            
            <targetReference>is_SSP_or_RE</targetReference>
            
        </nextValueConnector>
        
        <noMoreValuesConnector>
            
            <targetReference>decision_SSP_or_RE</targetReference>
            
        </noMoreValuesConnector>
        
    </loops>
    
    <processMetadataValues>
        
        <name>BuilderType</name>
        
        <value>
            
            <stringValue>LightningFlowBuilder</stringValue>
            
        </value>
        
    </processMetadataValues>
    
    <processMetadataValues>
        
        <name>OriginBuilderType</name>
        
        <value>
            
            <stringValue>LightningFlowBuilder</stringValue>
            
        </value>
        
    </processMetadataValues>
    
    <processType>Flow</processType>
    
    <recordLookups>
        
        <name>GetContactDetails</name>
        
        <label>GetContactDetails</label>
        
        <locationX>160</locationX>
        
        <locationY>225</locationY>
        
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        
        <connector>
            
            <targetReference>GetUserAgreementCustomMetaData</targetReference>
            
        </connector>
        
        <filters>
            
            <field>Id</field>
            
            <operator>EqualTo</operator>
            
            <value>
                
                <elementReference>LoginFlow_UserId</elementReference>
                
            </value>
            
        </filters>
        
        <object>User</object>
        
        <outputReference>UserObj</outputReference>
        
        <queriedFields>Id</queriedFields>
        
        <queriedFields>UserAgreementVersion__c</queriedFields>
        
        <queriedFields>LanguageLocaleKey</queriedFields>
        
        <queriedFields>RE_Selected_Role__c</queriedFields>
        
    </recordLookups>
    
    <recordLookups>
        
        <name>GetUserAgreementCustomMetaData</name>
        
        <label>GetUserAgreementCustomMetaData</label>
        
        <locationX>504</locationX>
        
        <locationY>67</locationY>
        
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        
        <connector>
            
            <targetReference>MetadataRecordsLoop</targetReference>
            
        </connector>
        
        <filters>
            
            <field>Language__c</field>
            
            <operator>EqualTo</operator>
            
            <value>
                
                <elementReference>UserObj.LanguageLocaleKey</elementReference>
                
            </value>
            
        </filters>
        
        <filters>
            
            <field>Status__c</field>
            
            <operator>EqualTo</operator>
            
            <value>
                
                <stringValue>Active</stringValue>
                
            </value>
            
        </filters>
        
        <filters>
            
            <field>userType__c</field>
            
            <operator>EqualTo</operator>
            
            <value>
                
                <stringValue>RE Community Partner User Profile</stringValue>
                
            </value>
            
        </filters>
        
        <object>RE_User_Agreement__mdt</object>
        
        <outputReference>list_MetadataRecords</outputReference>
        
        <queriedFields>Header__c</queriedFields>
        
        <queriedFields>Text__c</queriedFields>
        
        <queriedFields>Version__c</queriedFields>
        
        <queriedFields>Community_Name__c</queriedFields>
        
    </recordLookups>
    
    <recordUpdates>
        
        <description>Update to reset showCitizenDashboard user field to false</description>
        
        <name>Reset_Show_Citizen_Dashboard_Flag</name>
        
        <label>Reset Show Citizen Dashboard Flag</label>
        
        <locationX>1763</locationX>
        
        <locationY>930</locationY>
        
        <filters>
            
            <field>Id</field>
            
            <operator>EqualTo</operator>
            
            <value>
                
                <elementReference>LoginFlow_UserId</elementReference>
                
            </value>
            
        </filters>
        
        <inputAssignments>
            
            <field>ImpersonatedIndividualId__c</field>
            
        </inputAssignments>
        
        <inputAssignments>
            
            <field>ShowCitizenDashboard__c</field>
            
            <value>
                
                <booleanValue>false</booleanValue>
                
            </value>
            
        </inputAssignments>
        
        <object>User</object>
        
    </recordUpdates>
    
    <recordUpdates>
        
        <name>UpdateUserAgreementVersion</name>
        
        <label>UpdateUserAgreementVersion</label>
        
        <locationX>1514</locationX>
        
        <locationY>686</locationY>
        
        <connector>
            
            <targetReference>Reset_Show_Citizen_Dashboard_Flag</targetReference>
            
        </connector>
        
        <filters>
            
            <field>Id</field>
            
            <operator>EqualTo</operator>
            
            <value>
                
                <elementReference>LoginFlow_UserId</elementReference>
                
            </value>
            
        </filters>
        
        <inputAssignments>
            
            <field>UserAgreementConsentDate__c</field>
            
            <value>
                
                <elementReference>$Flow.CurrentDate</elementReference>
                
            </value>
            
        </inputAssignments>
        
        <inputAssignments>
            
            <field>UserAgreementVersion__c</field>
            
            <value>
                
                <elementReference>UserAgreement_Version</elementReference>
                
            </value>
            
        </inputAssignments>
        
        <object>User</object>
        
    </recordUpdates>
    
    <screens>
        
        <name>Acceptance_of_Consent_Page</name>
        
        <label>Acceptance of Consent Page</label>
        
        <locationX>1229</locationX>
        
        <locationY>262</locationY>
        
        <allowBack>false</allowBack>
        
        <allowFinish>true</allowFinish>
        
        <allowPause>false</allowPause>
        
        <connector>
            
            <targetReference>VerifyConsentedVersion</targetReference>
            
        </connector>
        
        <fields>
            
            <name>Warning</name>
            
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(18, 18, 18);&quot;&gt;&lt;u&gt;{!WarningSymbol}&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            
            <fieldType>DisplayText</fieldType>
            
        </fields>
        
        <fields>
            
            <name>ConsentMessage</name>
            
            <fieldText>&lt;p&gt;{!ConsentText}&lt;/p&gt;</fieldText>
            
            <fieldType>DisplayText</fieldType>
            
        </fields>
        
        <showFooter>true</showFooter>
        
        <showHeader>true</showHeader>
        
    </screens>
    
    <screens>
        
        <name>UseofThisWebsite</name>
        
        <label>UseofThisWebsite</label>
        
        <locationX>1551</locationX>
        
        <locationY>271</locationY>
        
        <allowBack>true</allowBack>
        
        <allowFinish>true</allowFinish>
        
        <allowPause>true</allowPause>
        
        <connector>
            
            <targetReference>desicion_UserAgreedOrRejected</targetReference>
            
        </connector>
        
        <fields>
            
            <name>sspUseOfThisWebsite</name>
            
            <extensionName>c:sspUseOfThisWebsite</extensionName>
            
            <fieldType>ComponentInstance</fieldType>
            
            <inputParameters>
                
                <name>userAgreementHeader</name>
                
                <value>
                    
                    <elementReference>SSPMetadataRecord.Header__c</elementReference>
                    
                </value>
                
            </inputParameters>
            
            <inputParameters>
                
                <name>userAgreementText</name>
                
                <value>
                    
                    <elementReference>SSPMetadataRecord.Text__c</elementReference>
                    
                </value>
                
            </inputParameters>
            
            <inputParameters>
                
                <name>forceLogout</name>
                
                <value>
                    
                    <elementReference>getForceLogoutValueFromLWC</elementReference>
                    
                </value>
                
            </inputParameters>
            
            <inputParameters>
                
                <name>initiateLogout</name>
                
                <value>
                    
                    <elementReference>varInitiateLogout</elementReference>
                    
                </value>
                
            </inputParameters>
            
            <isRequired>true</isRequired>
            
            <outputParameters>
                
                <assignToReference>getForceLogoutValueFromLWC</assignToReference>
                
                <name>forceLogout</name>
                
            </outputParameters>
            
            <outputParameters>
                
                <assignToReference>SSPMetadataRecord.Header__c</assignToReference>
                
                <name>userAgreementHeader</name>
                
            </outputParameters>
            
            <outputParameters>
                
                <assignToReference>varInitiateLogout</assignToReference>
                
                <name>initiateLogout</name>
                
            </outputParameters>
            
        </fields>
        
        <showFooter>false</showFooter>
        
        <showHeader>false</showHeader>
        
    </screens>
    
    <screens>
        
        <name>UserAgreementScreen</name>
        
        <label>UserAgreementScreen</label>
        
        <locationX>1437</locationX>
        
        <locationY>449</locationY>
        
        <allowBack>false</allowBack>
        
        <allowFinish>true</allowFinish>
        
        <allowPause>false</allowPause>
        
        <connector>
            
            <targetReference>AssignmentREVersion</targetReference>
            
        </connector>
        
        <fields>
            
            <name>UserAgreementScreen_Header</name>
            
            <fieldText>&lt;p&gt;{!REMetadataRecord.Header__c}&lt;/p&gt;</fieldText>
            
            <fieldType>DisplayText</fieldType>
            
        </fields>
        
        <fields>
            
            <name>UserAgreementScreen_Text</name>
            
            <fieldText>&lt;p&gt;{!REMetadataRecord.Text__c}&lt;/p&gt;</fieldText>
            
            <fieldType>DisplayText</fieldType>
            
        </fields>
        
        <fields>
            
            <name>UserAgreement_Consent</name>
            
            <dataType>Boolean</dataType>
            
            <fieldText>I Agree</fieldText>
            
            <fieldType>InputField</fieldType>
            
            <isRequired>true</isRequired>
            
            <validationRule>
                
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(205, 22, 5); background-color: rgb(255, 255, 255);&quot;&gt;Please consent to the terms of use.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                
                <formulaExpression>{!UserAgreement_Consent}</formulaExpression>
                
            </validationRule>
            
        </fields>
        
        <showFooter>true</showFooter>
        
        <showHeader>false</showHeader>
        
    </screens>
    
    <start>
        
        <locationX>35</locationX>
        
        <locationY>55</locationY>
        
        <connector>
            
            <targetReference>GetContactDetails</targetReference>
            
        </connector>
        
    </start>
    
    <status>Active</status>
    
    <variables>
        
        <name>ContactObj</name>
        
        <dataType>SObject</dataType>
        
        <isCollection>false</isCollection>
        
        <isInput>true</isInput>
        
        <isOutput>true</isOutput>
        
        <objectType>Contact</objectType>
        
    </variables>
    
    <variables>
        
        <name>getForceLogoutValueFromLWC</name>
        
        <dataType>Boolean</dataType>
        
        <isCollection>false</isCollection>
        
        <isInput>true</isInput>
        
        <isOutput>true</isOutput>
        
    </variables>
    
    <variables>
        
        <name>list_MetadataRecords</name>
        
        <dataType>SObject</dataType>
        
        <isCollection>true</isCollection>
        
        <isInput>true</isInput>
        
        <isOutput>true</isOutput>
        
        <objectType>RE_User_Agreement__mdt</objectType>
        
    </variables>
    
    <variables>
        
        <name>LoginFlow_Community</name>
        
        <dataType>String</dataType>
        
        <isCollection>false</isCollection>
        
        <isInput>true</isInput>
        
        <isOutput>true</isOutput>
        
    </variables>
    
    <variables>
        
        <name>LoginFlow_ContactId</name>
        
        <dataType>String</dataType>
        
        <isCollection>false</isCollection>
        
        <isInput>true</isInput>
        
        <isOutput>true</isOutput>
        
    </variables>
    
    <variables>
        
        <name>LoginFlow_ForceLogout</name>
        
        <dataType>Boolean</dataType>
        
        <isCollection>false</isCollection>
        
        <isInput>true</isInput>
        
        <isOutput>true</isOutput>
        
        <value>
            
            <booleanValue>false</booleanValue>
            
        </value>
        
    </variables>
    
    <variables>
        
        <name>LoginFlow_UserId</name>
        
        <dataType>String</dataType>
        
        <isCollection>false</isCollection>
        
        <isInput>true</isInput>
        
        <isOutput>true</isOutput>
        
    </variables>
    
    <variables>
        
        <name>REMetadataRecord</name>
        
        <dataType>SObject</dataType>
        
        <isCollection>false</isCollection>
        
        <isInput>true</isInput>
        
        <isOutput>true</isOutput>
        
        <objectType>RE_User_Agreement__mdt</objectType>
        
    </variables>
    
    <variables>
        
        <name>SSPMetadataRecord</name>
        
        <dataType>SObject</dataType>
        
        <isCollection>false</isCollection>
        
        <isInput>true</isInput>
        
        <isOutput>true</isOutput>
        
        <objectType>RE_User_Agreement__mdt</objectType>
        
    </variables>
    
    <variables>
        
        <name>User_UserAgreementVersion</name>
        
        <dataType>String</dataType>
        
        <isCollection>false</isCollection>
        
        <isInput>true</isInput>
        
        <isOutput>true</isOutput>
        
    </variables>
    
    <variables>
        
        <name>UserAgreement_CommunityName</name>
        
        <dataType>String</dataType>
        
        <isCollection>false</isCollection>
        
        <isInput>true</isInput>
        
        <isOutput>true</isOutput>
        
    </variables>
    
    <variables>
        
        <name>UserAgreement_Header</name>
        
        <dataType>String</dataType>
        
        <isCollection>false</isCollection>
        
        <isInput>false</isInput>
        
        <isOutput>true</isOutput>
        
    </variables>
    
    <variables>
        
        <name>UserAgreement_Text</name>
        
        <dataType>String</dataType>
        
        <isCollection>false</isCollection>
        
        <isInput>false</isInput>
        
        <isOutput>true</isOutput>
        
    </variables>
    
    <variables>
        
        <name>UserAgreement_Version</name>
        
        <dataType>String</dataType>
        
        <isCollection>false</isCollection>
        
        <isInput>false</isInput>
        
        <isOutput>true</isOutput>
        
    </variables>
    
    <variables>
        
        <name>UserObj</name>
        
        <dataType>SObject</dataType>
        
        <isCollection>false</isCollection>
        
        <isInput>true</isInput>
        
        <isOutput>true</isOutput>
        
        <objectType>User</objectType>
        
    </variables>
    
    <variables>
        
        <name>varInitiateLogout</name>
        
        <dataType>String</dataType>
        
        <isCollection>false</isCollection>
        
        <isInput>true</isInput>
        
        <isOutput>true</isOutput>
        
    </variables>
    
    <variables>
        
        <name>varInitLogoutOutput</name>
        
        <dataType>String</dataType>
        
        <isCollection>false</isCollection>
        
        <isInput>true</isInput>
        
        <isOutput>true</isOutput>
        
    </variables>
    
</Flow>
