force-app/main/default/flows/Permission_Set_Activation_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Activate_Permission_Set</name>
        <label>Activate Permission Set</label>
        <locationX>823</locationX>
        <locationY>770</locationY>
        <actionName>activateSessionPermSet</actionName>
        <actionType>activateSessionPermSet</actionType>
        <connector>
            <targetReference>For_each_permission_set_to_activate</targetReference>
        </connector>
        <inputParameters>
            <name>PermSetName</name>
            <value>
                <elementReference>permissionSetName</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Deactivate_Permission_Set</name>
        <label>Deactivate Permission Set</label>
        <locationX>1170</locationX>
        <locationY>352</locationY>
        <actionName>deactivateSessionPermSet</actionName>
        <actionType>deactivateSessionPermSet</actionType>
        <connector>
            <targetReference>For_each_permission_to_deactivate</targetReference>
        </connector>
        <inputParameters>
            <name>PermSetName</name>
            <value>
                <elementReference>permissionSetName</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>Check_activation_list_not_empty</name>
        <label>Check activation list not empty</label>
        <locationX>196</locationX>
        <locationY>342</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_activation_list_not_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>listActivatePermissions</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>For_each_permission_set_to_activate</targetReference>
            </connector>
            <label>If activation list not empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_deactivation_list_not_empty</name>
        <label>Check deactivation list not empty</label>
        <locationX>197</locationX>
        <locationY>113</locationY>
        <defaultConnector>
            <targetReference>Check_activation_list_not_empty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_list_not_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>listDeactivatePermissions</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>For_each_permission_to_deactivate</targetReference>
            </connector>
            <label>If list not empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Permission_Set_Assigned</name>
        <label>Check Permission Set Assigned</label>
        <locationX>816</locationX>
        <locationY>568</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_permission_assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PermSetAssignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Activate_Permission_Set</targetReference>
            </connector>
            <label>Is permission assigned</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_PermissionSetAssignment</name>
        <label>Check PermissionSetAssignment</label>
        <locationX>964</locationX>
        <locationY>112</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_permission_set_assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PermissionSetAssignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Deactivate_Permission_Set</targetReference>
            </connector>
            <label>If permission set assigned</label>
        </rules>
    </decisions>
    <formulas>
        <name>loggedInUser</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Permission Set Activation Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Permission Set Activation Flow</label>
    <loops>
        <name>For_each_permission_set_to_activate</name>
        <label>For each permission set to activate</label>
        <locationX>207</locationX>
        <locationY>565</locationY>
        <assignNextValueToReference>permissionSetName</assignNextValueToReference>
        <collectionReference>listActivatePermissions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_PermissionSet</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>For_each_permission_to_deactivate</name>
        <label>For each permission to deactivate</label>
        <locationX>405</locationX>
        <locationY>110</locationY>
        <assignNextValueToReference>permissionSetName</assignNextValueToReference>
        <collectionReference>listDeactivatePermissions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Permission_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_activation_list_not_empty</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Permission_Record</name>
        <label>Get Permission Record</label>
        <locationX>638</locationX>
        <locationY>110</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_PermissionSetAssignment</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>permissionSetName</elementReference>
            </value>
        </filters>
        <object>PermissionSet</object>
        <outputAssignments>
            <assignToReference>permissionSetId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_PermissionSet</name>
        <label>Get PermissionSet</label>
        <locationX>448</locationX>
        <locationY>567</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_PermSetAssignment</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>permissionSetName</elementReference>
            </value>
        </filters>
        <object>PermissionSet</object>
        <outputAssignments>
            <assignToReference>permissionSetId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_PermissionSetAssignment</name>
        <label>Get PermissionSetAssignment</label>
        <locationX>802</locationX>
        <locationY>109</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_PermissionSetAssignment</targetReference>
        </connector>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loggedInUser</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>permissionSetId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PermSetAssignment</name>
        <label>Get PermSetAssignment</label>
        <locationX>657</locationX>
        <locationY>565</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Permission_Set_Assigned</targetReference>
        </connector>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loggedInUser</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>permissionSetId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>14</locationX>
        <locationY>111</locationY>
        <connector>
            <targetReference>Check_deactivation_list_not_empty</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Contains list of string having permission sets that needs to be activated</description>
        <name>listActivatePermissions</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Contains list of string having permission set names that needs to be deactivated</description>
        <name>listDeactivatePermissions</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>permissionSetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>permissionSetName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
