force-app/main/default/flows/RE_Partner_Consent_Page.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>VerifyConsentedVersion</name>
        <label>VerifyConsentedVersion</label>
        <locationX>605</locationX>
        <locationY>249</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Same</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UserAgreement_Version</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>UserObj.UserAgreementVersion__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UserAgreementScreen</targetReference>
            </connector>
            <label>Same</label>
        </rules>
    </decisions>
    <formulas>
        <name>ConsentText</name>
        <dataType>String</dataType>
        <expression>{!$Label.UserConsentText}</expression>
    </formulas>
    <formulas>
        <name>WarningSymbol</name>
        <dataType>String</dataType>
        <expression>{!$Label.UserConsentWarning}</expression>
    </formulas>
    <interviewLabel>RE Partner Consent Page {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RE Partner Consent Page</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetContactDetails</name>
        <label>GetContactDetails</label>
        <locationX>369</locationX>
        <locationY>246</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetUserAgreementCustomMetaData</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>UserObj</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>UserAgreementVersion__c</queriedFields>
        <queriedFields>LanguageLocaleKey</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetUserAgreementCustomMetaData</name>
        <label>GetUserAgreementCustomMetaData</label>
        <locationX>488</locationX>
        <locationY>37</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VerifyConsentedVersion</targetReference>
        </connector>
        <filters>
            <field>Language__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserObj.LanguageLocaleKey</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <filters>
            <field>userType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RE Community Partner User Profile</stringValue>
            </value>
        </filters>
        <object>RE_User_Agreement__mdt</object>
        <outputAssignments>
            <assignToReference>UserAgreement_Header</assignToReference>
            <field>Header__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UserAgreement_Text</assignToReference>
            <field>Text__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UserAgreement_Version</assignToReference>
            <field>Version__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UpdateUserAgreementVersion</name>
        <label>UpdateUserAgreementVersion</label>
        <locationX>861</locationX>
        <locationY>425</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoginFlow_UserId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>UserAgreementConsentDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserAgreementVersion__c</field>
            <value>
                <elementReference>UserAgreement_Version</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <screens>
        <name>Acceptance_of_Consent_Page</name>
        <label>Acceptance of Consent Page</label>
        <locationX>189</locationX>
        <locationY>54</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>GetContactDetails</targetReference>
        </connector>
        <fields>
            <name>Warning</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(5, 5, 5);&quot;&gt;&lt;u&gt;{!WarningSymbol}﻿&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ConsentMessage</name>
            <fieldText>&lt;p&gt;{!ConsentText}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>UserAgreementScreen</name>
        <label>UserAgreementScreen</label>
        <locationX>851</locationX>
        <locationY>244</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UpdateUserAgreementVersion</targetReference>
        </connector>
        <fields>
            <name>UserAgreementScreen_Header</name>
            <fieldText>&lt;p&gt;{!UserAgreement_Header}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>UserAgreementScreen_Text</name>
            <fieldText>&lt;p&gt;{!UserAgreement_Text}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>UserAgreement_Consent</name>
            <dataType>Boolean</dataType>
            <fieldText>I Agree</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(199, 19, 19); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;Please consent to the terms of use.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>{!UserAgreement_Consent}</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>35</locationX>
        <locationY>55</locationY>
        <connector>
            <targetReference>Acceptance_of_Consent_Page</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContactObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>LoginFlow_ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LoginFlow_UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>User_UserAgreementVersion</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserAgreement_Header</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserAgreement_Text</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserAgreement_Version</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
