force-app/main/default/flows/re_rate_a_resource_feedback.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>c_26e5d33a_70df_447b_a6e6_f82fa448a075</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_c9f84825_a7eb_4a36_bc6f_c7908dc279d9</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_cfb5548a_5156_4f12_9888_4eb82b1188c9</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d9797872_563d_4452_86fd_ecd9adca0552</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <decisions>
        <name>d_2b0157dc_6e5b_469b_b5c3_2cebd510a990</name>
        <label>my_decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>p_b007aea5_c0fd_43ed_b11a_bc8f95b02a50</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next Page</defaultConnectorLabel>
        <rules>
            <name>r_a88f6b9c_75c5_4e61_91a8_9bfe1dc4a9d9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>RadioButton</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_9cc91dbf_7bf1_495b_852e_05dd9876c1cc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_26e5d33a_70df_447b_a6e6_f82fa448a075</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_a561fbea_9b08_4654_a50f_8959213fcade</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
        <rules>
            <name>r_0a8616b4_e044_47c4_a33c_be375332280f</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>RadioButton</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_9cc91dbf_7bf1_495b_852e_05dd9876c1cc</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>c_cfb5548a_5156_4f12_9888_4eb82b1188c9</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>p_b007aea5_c0fd_43ed_b11a_bc8f95b02a50</targetReference>
            </connector>
            <label>my_rule</label>
        </rules>
    </decisions>
    <interviewLabel>RE_Rate_A_Resource_Feedback</interviewLabel>
    <label>RE_Rate_A_Resource_Feedback</label>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_11f3d282_d619_4b81_9d21_92f11abfdd63</name>
        <label>Page 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>d_2b0157dc_6e5b_469b_b5c3_2cebd510a990</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_9cc91dbf_7bf1_495b_852e_05dd9876c1cc</name>
            <choiceReferences>c_cfb5548a_5156_4f12_9888_4eb82b1188c9</choiceReferences>
            <choiceReferences>c_26e5d33a_70df_447b_a6e6_f82fa448a075</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Did you receive the resource?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>Survey paused. To pick up where you left off, refresh this page or click the link in your survey invitation.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_a561fbea_9b08_4654_a50f_8959213fcade</name>
        <label>Page 4</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_121029f9_55c3_41bd_8786_80a0b76ce519</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;Enter Feedback&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>Survey paused. To pick up where you left off, refresh this page or click the link in your survey invitation.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_b007aea5_c0fd_43ed_b11a_bc8f95b02a50</name>
        <label>Page 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_a561fbea_9b08_4654_a50f_8959213fcade</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_0f616f2b_6381_4eba_b273_a2786b8517ee</name>
            <choiceReferences>c_c9f84825_a7eb_4a36_bc6f_c7908dc279d9</choiceReferences>
            <choiceReferences>c_d9797872_563d_4452_86fd_ecd9adca0552</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;span style=&quot;font-size: 14px; font-family: sans-serif;&quot;&gt;Would you recommend this resource to a friend?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <pausedText>Survey paused. To pick up where you left off, refresh this page or click the link in your survey invitation.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>p_11f3d282_d619_4b81_9d21_92f11abfdd63</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <text/>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <text>&lt;p&gt;&lt;span style=&quot;font-family: sans-serif; font-size: 14px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;Thanks for your feedback!&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
</Flow>
