force-app/main/default/flows/ShortSNAPFlowTest.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <description>Trial flow for Short SNAP Application</description>
    <interviewLabel>ShortSNAPFlowTest {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ShortSNAPFlowTest</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>shortSNAPAddressScreen</name>
        <label>shortSNAPAddressScreen</label>
        <locationX>386</locationX>
        <locationY>115</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ShortSNAPSignPage</targetReference>
        </connector>
        <fields>
            <name>shortSNAPAddressCmp</name>
            <extensionName>c:sspSnapAddressInformation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>applicationString</name>
                <value>
                    <elementReference>appString</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>applicationStringInput</name>
                <value>
                    <elementReference>appStringInput</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>appString</assignToReference>
                <name>applicationString</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>appStringOutput</assignToReference>
                <name>applicationStringOutput</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ShortSNAPContactScreen</name>
        <label>ShortSNAPContactScreen</label>
        <locationX>186</locationX>
        <locationY>115</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>shortSNAPAddressScreen</targetReference>
        </connector>
        <fields>
            <name>contact</name>
            <extensionName>c:sspSnapContactInformation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>applicationString</name>
                <value>
                    <elementReference>appString</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>applicationStringInput</name>
                <value>
                    <elementReference>appStringInput</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>appStringOutput</assignToReference>
                <name>applicationStringOutput</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>appStringInput</assignToReference>
                <name>applicationStringInput</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ShortSNAPSignPage</name>
        <label>ShortSNAPSignPage</label>
        <locationX>583</locationX>
        <locationY>115</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>snapNextStepScreen</targetReference>
        </connector>
        <fields>
            <name>Sign</name>
            <extensionName>c:sspSnapSignaturePage</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>applicationString</name>
                <value>
                    <elementReference>appString</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>applicationNumber</name>
                <value>
                    <elementReference>applicationNumber</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>applicationNumber</assignToReference>
                <name>applicationNumber</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>snapNextStepScreen</name>
        <label>snapNextStepScreen</label>
        <locationX>768</locationX>
        <locationY>115</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>snapNextStepCmp</name>
            <extensionName>c:sspSNAPNextStep</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>applicationNumber</name>
                <value>
                    <elementReference>applicationNumber</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>applicationNumber</assignToReference>
                <name>applicationNumber</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>41</locationX>
        <locationY>115</locationY>
        <connector>
            <targetReference>ShortSNAPContactScreen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>applicationNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This variable stores the data of Application object.</description>
        <name>applicationObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SSP_Application__c</objectType>
    </variables>
    <variables>
        <name>appString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue/>
        </value>
    </variables>
    <variables>
        <name>appStringInput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>appStringOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
