force-app/main/default/flows/SSP_PrescreeningRules.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>138% FPL Limit (from Ref Table EDFMALIMITS)</description>
        <name>get138FPLLimit</name>
        <label>get138FPLLimit</label>
        <locationX>1802</locationX>
        <locationY>614</locationY>
        <actionName>ReferenceDataService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>grossIncome_138FPL</targetReference>
        </connector>
        <inputParameters>
            <name>key</name>
            <value>
                <stringValue>138FPL</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>noOfPeople</name>
            <value>
                <elementReference>noOfPeopleInHh</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>EDFMALIMITS</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>ABDM_INC_LMT (from Ref Table EDLTCLIMITS)? Note: Use ELIGIBLE SPOUSE</description>
        <name>getABDM_INC_LMT_ELIGIBLE_SPOUSE</name>
        <label>getABDM_INC_LMT_ELIGIBLE_SPOUSE</label>
        <locationX>2329</locationX>
        <locationY>1651</locationY>
        <actionName>ReferenceDataService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>grossIncome_ABDM_INC_LMT_ELIGIBLE_SPOUSE</targetReference>
        </connector>
        <inputParameters>
            <name>key</name>
            <value>
                <stringValue>ABDM_INC_LMT_ELIGIBLE_SPOUSE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>EDLTCLIMITS</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>ABDM_INC_LMT (from Ref Table EDLTCLIMITS): Use INDIVIDUAL</description>
        <name>getABDM_INC_LMT_INDIVIDUAL</name>
        <label>getABDM_INC_LMT_INDIVIDUAL</label>
        <locationX>2332</locationX>
        <locationY>1894</locationY>
        <actionName>ReferenceDataService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>grossIncome_ABDM_INC_LMT_INDIVIDUAL</targetReference>
        </connector>
        <inputParameters>
            <name>key</name>
            <value>
                <stringValue>ABDM_INC_LMT_INDIVIDUAL</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>EDLTCLIMITS</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>INTAKE_LIMIT (from Ref Table EDCCAPINCLIMIT)</description>
        <name>getIntakeLimit</name>
        <label>getIntakeLimit</label>
        <locationX>1117</locationX>
        <locationY>345</locationY>
        <actionName>ReferenceDataService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Income_INTAKE_LIMIT</targetReference>
        </connector>
        <inputParameters>
            <name>key</name>
            <value>
                <stringValue>FPL_160</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>noOfPeople</name>
            <value>
                <elementReference>noOfPeopleInHh</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>EDCCAPINCLIMIT</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Gets the KTAP budget limit based on number of people from &apos;SSP Prescreening Reference Data&apos; metadata.</description>
        <name>getKTAPBudgetLimit</name>
        <label>getKTAPBudgetLimit</label>
        <locationX>179</locationX>
        <locationY>613</locationY>
        <actionName>ReferenceDataService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>IsIncomeLessthanBudget</targetReference>
        </connector>
        <inputParameters>
            <name>key</name>
            <value>
                <stringValue>KTAP_BDGT_NEEDS</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>noOfPeople</name>
            <value>
                <elementReference>noOfPeopleInHh</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>EDKTAPLIMITS</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>MSP_RSC_LMT_HH1 (From Ref Table EDRSCPARMS)?</description>
        <name>getMSP_RSC_LMT_1</name>
        <label>getMSP_RSC_LMT_1</label>
        <locationX>1808</locationX>
        <locationY>1393</locationY>
        <actionName>ReferenceDataService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>LiquidResources_MSP_RSC_LMT_1</targetReference>
        </connector>
        <inputParameters>
            <name>key</name>
            <value>
                <stringValue>MSP_RSC_LMT_HH1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>EDRSCPARMS</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>MSP_RSC_LMT_HH2  (From Ref Table EDRSCPARMS)</description>
        <name>getMSP_RSC_LMT_2</name>
        <label>getMSP_RSC_LMT_2</label>
        <locationX>1943</locationX>
        <locationY>1022</locationY>
        <actionName>ReferenceDataService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>LiquidResources_MSP_RSC_LMT_2</targetReference>
        </connector>
        <inputParameters>
            <name>key</name>
            <value>
                <stringValue>MSP_RSC_LMT_HH2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>EDRSCPARMS</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>NM_ABD_RSC_LMT_HH2. (From Ref Table EDRSCPARMS)</description>
        <name>getNM_ABD_RSC_LMT_HH2</name>
        <label>getNM_ABD_RSC_LMT_HH2</label>
        <locationX>1810</locationX>
        <locationY>1587</locationY>
        <actionName>ReferenceDataService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>LiquidResources_NM_ABD_RSC_LMT_HH2</targetReference>
        </connector>
        <inputParameters>
            <name>key</name>
            <value>
                <stringValue>NM_ABD_RSC_LMT_HH2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>EDRSCPARMS</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>QI_IN_LMT (from Ref Table EDLTCLIMITS): ELIGIBLE SPOUSE</description>
        <name>getQI_IN_LMT_EL_SP</name>
        <label>getQI_IN_LMT_EL_SP</label>
        <locationX>2078</locationX>
        <locationY>847</locationY>
        <actionName>ReferenceDataService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>grossIncome_QI_IN_LMT_ES</targetReference>
        </connector>
        <inputParameters>
            <name>key</name>
            <value>
                <stringValue>QI_IN_LMT_ELIGIBLE_SPOUSE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>EDLTCLIMITS</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>QI_IN_LMT (from Ref Table EDLTCLIMITS): use INDIVIDUAL.</description>
        <name>getQI_IN_LMT_INDIVIDUAL</name>
        <label>getQI_IN_LMT_INDIVIDUAL</label>
        <locationX>2095</locationX>
        <locationY>1189</locationY>
        <actionName>ReferenceDataService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>grossIncome_QI_IN_LMT_INDIVIDUAL</targetReference>
        </connector>
        <inputParameters>
            <name>key</name>
            <value>
                <stringValue>QI_IN_LMT_INDIVIDUAL</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>EDLTCLIMITS</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Gets record of SNAP_130PCT_LMT for given household size</description>
        <name>getSNAP_130PCT_LMT</name>
        <label>getSNAP_130PCT_LMT</label>
        <locationX>686</locationX>
        <locationY>601</locationY>
        <actionName>ReferenceDataService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>GrossIncome_SNAP_Budget</targetReference>
        </connector>
        <inputParameters>
            <name>key</name>
            <value>
                <stringValue>SNAP_130PCT_LMT</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>noOfPeople</name>
            <value>
                <elementReference>noOfPeopleInHh</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>EDSNAPLIMITS</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>get SNAP_BS_ULT_ALW from EDSNAPPARMS table of reference metadata</description>
        <name>getSNAP_BS_ULT_ALW</name>
        <label>getSNAP_BS_ULT_ALW</label>
        <locationX>912</locationX>
        <locationY>1138</locationY>
        <actionName>ReferenceDataService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>NetIncome_SNAP_Limit</targetReference>
        </connector>
        <inputParameters>
            <name>key</name>
            <value>
                <stringValue>SNAP_BS_ULT_ALW</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>EDSNAPPARMS</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>get DEDUCTION_AMOUNT from EDSNAPDEDUCTION table of reference metadata</description>
        <name>getSNAP_DEDUCTION_AMOUNT</name>
        <label>getSNAP_DEDUCTION_AMOUNT</label>
        <locationX>690</locationX>
        <locationY>1139</locationY>
        <actionName>ReferenceDataService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>getSNAP_STD_ULT_ALW</targetReference>
        </connector>
        <inputParameters>
            <name>key</name>
            <value>
                <stringValue>DEDUCTION_AMOUNT</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>noOfPeople</name>
            <value>
                <elementReference>noOfPeopleInHh</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>EDSNAPDEDUCTION</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>get SNAP_MAX_EXS_SHL_AMT from EDSNAPPARMS table of reference metadata</description>
        <name>getSNAP_MAX_EXS_SHL_AMT</name>
        <label>getSNAP_MAX_EXS_SHL_AMT</label>
        <locationX>907</locationX>
        <locationY>1281</locationY>
        <actionName>ReferenceDataService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>getSNAP_BS_ULT_ALW</targetReference>
        </connector>
        <inputParameters>
            <name>key</name>
            <value>
                <stringValue>SNAP_MAX_EXS_SHL_AMT</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>EDSNAPPARMS</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Gets record of SNAP_NETINC_LMT for given household size</description>
        <name>getSNAP_NETINC_LMT</name>
        <label>getSNAP_NETINC_LMT</label>
        <locationX>688</locationX>
        <locationY>985</locationY>
        <actionName>ReferenceDataService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>getSNAP_DEDUCTION_AMOUNT</targetReference>
        </connector>
        <inputParameters>
            <name>key</name>
            <value>
                <stringValue>SNAP_NETINC_LMT</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>noOfPeople</name>
            <value>
                <elementReference>noOfPeopleInHh</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>EDSNAPLIMITS</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>get SNAP_STD_ULT_ALW from EDSNAPPARMS table of reference metadata</description>
        <name>getSNAP_STD_ULT_ALW</name>
        <label>getSNAP_STD_ULT_ALW</label>
        <locationX>693</locationX>
        <locationY>1278</locationY>
        <actionName>ReferenceDataService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>getSNAP_MAX_EXS_SHL_AMT</targetReference>
        </connector>
        <inputParameters>
            <name>key</name>
            <value>
                <stringValue>SNAP_STD_ULT_ALW</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>EDSNAPPARMS</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>NM_ABD_RSC_LMT_HH1 from EDRSCPARMS</description>
        <name>NM_ABD_RSC_LMT_HH1</name>
        <label>getNM_ABD_RSC_LMT_HH1</label>
        <locationX>1638</locationX>
        <locationY>1794</locationY>
        <actionName>ReferenceDataService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>LiquidResources_NM_ABD_RSC_LMT_HH1</targetReference>
        </connector>
        <inputParameters>
            <name>key</name>
            <value>
                <stringValue>NM_ABD_RSC_LMT_HH1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>EDRSCPARMS</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <assignments>
        <description>Assigns true to CCAP Decision</description>
        <name>CCAP_Eligible</name>
        <label>CCAP Eligible</label>
        <locationX>1364</locationX>
        <locationY>236</locationY>
        <assignmentItems>
            <assignToReference>CCAP_Decision</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>isPregnant</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns false to CCAP decision</description>
        <name>CCAP_Needs_More_Info</name>
        <label>CCAP Needs More Info</label>
        <locationX>1366</locationX>
        <locationY>599</locationY>
        <assignmentItems>
            <assignToReference>CCAP_Decision</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>isPregnant</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Adds 1 extra member to household</description>
        <name>incrementHH1</name>
        <label>incrementHH1</label>
        <locationX>1796</locationX>
        <locationY>295</locationY>
        <assignmentItems>
            <assignToReference>noOfPeopleInHh</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>isDisabled</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns KTAP Decision to true</description>
        <name>KTAP_Eligible</name>
        <label>KTAP Eligible</label>
        <locationX>446</locationX>
        <locationY>779</locationY>
        <assignmentItems>
            <assignToReference>KTAP_Decision</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>isAnyoneMigrantDecision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>KTAP Need More Info</description>
        <name>KTAP_Need_More_Info</name>
        <label>KTAP Need More Info</label>
        <locationX>437</locationX>
        <locationY>348</locationY>
        <assignmentItems>
            <assignToReference>KTAP_Decision</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>isAnyoneMigrantDecision</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns True to MA_decision</description>
        <name>MA_Eligible</name>
        <label>MA Eligible</label>
        <locationX>2863</locationX>
        <locationY>793</locationY>
        <assignmentItems>
            <assignToReference>MA_Decision</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Assigns MA_Decision to false</description>
        <name>MA_Needs_More_Info</name>
        <label>MA Needs More Info</label>
        <locationX>2906</locationX>
        <locationY>1491</locationY>
        <assignmentItems>
            <assignToReference>MA_Decision</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Assign SNAP Decision true</description>
        <name>SNAP_Eligible</name>
        <label>SNAP Eligible</label>
        <locationX>921</locationX>
        <locationY>648</locationY>
        <assignmentItems>
            <assignToReference>SNAP_Decision</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AnyoneChild</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assigns false to SNAP Decision</description>
        <name>SNAP_Needs_More_Info</name>
        <label>SNAP Needs More Info</label>
        <locationX>826</locationX>
        <locationY>749</locationY>
        <assignmentItems>
            <assignToReference>SNAP_Decision</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AnyoneChild</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Anyone receiving SSI?</description>
        <name>Anyone_receiving_SSI</name>
        <label>Anyone receiving SSI?</label>
        <locationX>1111</locationX>
        <locationY>525</locationY>
        <defaultConnector>
            <targetReference>getIntakeLimit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>SSIYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>anySSIncome</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CCAP_Needs_More_Info</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Anyone in household 0-18 years old?</description>
        <name>AnyoneChild</name>
        <label>AnyoneChild</label>
        <locationX>1114</locationX>
        <locationY>742</locationY>
        <defaultConnector>
            <targetReference>CCAP_Needs_More_Info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>ChildYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isAnyoneChild</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Anyone_receiving_SSI</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is anyone in the household receiving Long Term Care (LTC) services, such as through waiver or a nursing facility?</description>
        <name>AnyoneReceivingLTC</name>
        <label>AnyoneReceivingLTC?</label>
        <locationX>1631</locationX>
        <locationY>783</locationY>
        <defaultConnector>
            <targetReference>ReceivingMedicare</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>LTCYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isReceivingLTC</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MA_Eligible</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Gross monthly income &lt; 138% FPL Limit (from Ref Table EDFMALIMITS)?</description>
        <name>grossIncome_138FPL</name>
        <label>grossIncome &lt; 138FPL</label>
        <locationX>1966</locationX>
        <locationY>616</locationY>
        <defaultConnector>
            <targetReference>MA_Needs_More_Info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>FPL138Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>grossIncome</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>get138FPLLimit.Value__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MA_Eligible</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Monthly gross income &lt;= ABDM_INC_LMT (from Ref Table EDLTCLIMITS)? Note: Use ELIGIBLE SPOUSE</description>
        <name>grossIncome_ABDM_INC_LMT_ELIGIBLE_SPOUSE</name>
        <label>grossIncome &lt;= ABDM_INC_LMT_ELIGIBLE_SPOUSE ?</label>
        <locationX>2476</locationX>
        <locationY>1653</locationY>
        <defaultConnector>
            <targetReference>MA_Needs_More_Info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ABDM_INC_LMT_ELIGIBLE_SPOUSE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>grossIncome</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>getABDM_INC_LMT_ELIGIBLE_SPOUSE.Value__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MA_Eligible</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Monthly gross income &lt;= ABDM_INC_LMT (from Ref Table EDLTCLIMITS)? Note: Use INDIVIDUAL</description>
        <name>grossIncome_ABDM_INC_LMT_INDIVIDUAL</name>
        <label>grossIncome &lt;= ABDM_INC_LMT_INDIVIDUAL?</label>
        <locationX>2476</locationX>
        <locationY>1892</locationY>
        <defaultConnector>
            <targetReference>MA_Needs_More_Info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ABDM_INC_LMT_INDIVIDUAL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>grossIncome</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>getABDM_INC_LMT_INDIVIDUAL.Value__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MA_Eligible</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Monthly gross income &lt;=  QI_IN_LMT (from Ref Table EDLTCLIMITS)? Note: Use ELIGIBLE SPOUSE if household size &gt; 1</description>
        <name>grossIncome_QI_IN_LMT_ES</name>
        <label>grossIncome &lt;= QI_IN_LMT_ES</label>
        <locationX>2210</locationX>
        <locationY>850</locationY>
        <defaultConnector>
            <targetReference>MA_Needs_More_Info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>QI_IN_LMT_ES_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>grossIncome</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>getQI_IN_LMT_EL_SP.Value__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MA_Eligible</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Monthly gross income &lt;=  QI_IN_LMT (from Ref Table EDLTCLIMITS)? Use INDIVIDUAL.</description>
        <name>grossIncome_QI_IN_LMT_INDIVIDUAL</name>
        <label>grossIncome &lt;= QI_IN_LMT_INDIVIDUAL</label>
        <locationX>2235</locationX>
        <locationY>1191</locationY>
        <defaultConnector>
            <targetReference>MA_Needs_More_Info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>QI_IN_LMT_INDIVIDUAL_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>grossIncome</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>getQI_IN_LMT_INDIVIDUAL.Value__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MA_Eligible</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Monthly gross income &lt;= SNAP_130PCT_LMT</description>
        <name>GrossIncome_SNAP_Budget</name>
        <label>GrossIncome &lt;= SNAP Budget?</label>
        <locationX>678</locationX>
        <locationY>762</locationY>
        <defaultConnector>
            <targetReference>SNAP_Needs_More_Info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>SNAPBudgetYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>grossIncome</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>getSNAP_130PCT_LMT.Value__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getSNAP_NETINC_LMT</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Household &gt; 1?</description>
        <name>HH_1</name>
        <label>HH &gt; 1 ?</label>
        <locationX>1798</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>getMSP_RSC_LMT_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>HH_GT_1_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>noOfPeopleInHh</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getMSP_RSC_LMT_2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Household size &gt; 1  ?</description>
        <name>HH_1_2</name>
        <label>HH &gt; 1 ?</label>
        <locationX>1630</locationX>
        <locationY>1585</locationY>
        <defaultConnector>
            <targetReference>NM_ABD_RSC_LMT_HH1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>HH_GT_1Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>noOfPeopleInHh</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getNM_ABD_RSC_LMT_HH2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>(Monthly gross income - monthly child support expenses) &lt;= INTAKE_LIMIT (from Ref Table EDCCAPINCLIMIT)?</description>
        <name>Income_INTAKE_LIMIT</name>
        <label>Income &lt;= INTAKE_LIMIT</label>
        <locationX>1197</locationX>
        <locationY>235</locationY>
        <defaultConnector>
            <targetReference>CCAP_Needs_More_Info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>CCAPYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CCAP_Income</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>getIntakeLimit.Value__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CCAP_Eligible</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Anyone in household 0-18 years old?</description>
        <name>IsAnyoneChildDecision</name>
        <label>IsAnyoneChild</label>
        <locationX>169</locationX>
        <locationY>232</locationY>
        <defaultConnector>
            <targetReference>KTAP_Need_More_Info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isAnyoneChild</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Liquid_resources_2_000</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Anyone a migrant or seasonal farmworker?</description>
        <name>isAnyoneMigrantDecision</name>
        <label>isAnyoneMigrant</label>
        <locationX>675</locationX>
        <locationY>450</locationY>
        <defaultConnector>
            <targetReference>getSNAP_130PCT_LMT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>MigrantYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isAnyoneMigrant</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SNAP_Eligible</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Anyone in household 60+, blind, or disabled?</description>
        <name>isDisabled</name>
        <label>isDisabled?</label>
        <locationX>1632</locationX>
        <locationY>615</locationY>
        <defaultConnector>
            <targetReference>get138FPLLimit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>DisabledYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isAnyoneBlind</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AnyoneReceivingLTC</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Calculates the total Income and Expenses and compares it it is less than budget needs</description>
        <name>IsIncomeLessthanBudget</name>
        <label>IsIncomeLessthanBudget</label>
        <locationX>196</locationX>
        <locationY>790</locationY>
        <defaultConnector>
            <targetReference>KTAP_Need_More_Info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>IncomeLessthanBgt</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ApplicableIncome</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>getKTAPBudgetLimit.Value__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>KTAP_Eligible</targetReference>
            </connector>
            <label>IncomeLessthanBgt</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is anyone in the household pregnant?</description>
        <name>isPregnant</name>
        <label>isPregnant</label>
        <locationX>1621</locationX>
        <locationY>293</locationY>
        <defaultConnector>
            <targetReference>isDisabled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>isPregnantYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isAnyonePregnant</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>incrementHH1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Liquid resources &gt;= $2,000</description>
        <name>Liquid_resources_2_000</name>
        <label>Liquid resources &gt;= $2,000</label>
        <locationX>164</locationX>
        <locationY>410</locationY>
        <defaultConnector>
            <targetReference>getKTAPBudgetLimit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>LiquidResourceYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>checkingSavingIncome</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>KTAP_Need_More_Info</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Liquid resource &lt; MSP_RSC_LMT_HH1  (From Ref Table EDRSCPARMS)?</description>
        <name>LiquidResources_MSP_RSC_LMT_1</name>
        <label>LiquidResources &lt; MSP_RSC_LMT_1</label>
        <locationX>2092</locationX>
        <locationY>1394</locationY>
        <defaultConnector>
            <targetReference>MA_Needs_More_Info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>LR_MSP_1_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>checkingSavingIncome</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>getMSP_RSC_LMT_1.Value__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getQI_IN_LMT_INDIVIDUAL</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Liquid resources &lt; MSP_RSC_LMT_HH2 ?</description>
        <name>LiquidResources_MSP_RSC_LMT_2</name>
        <label>LiquidResources &lt; MSP_RSC_LMT_2</label>
        <locationX>2071</locationX>
        <locationY>1025</locationY>
        <defaultConnector>
            <targetReference>MA_Needs_More_Info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>LiquidResources2Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>checkingSavingIncome</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>getMSP_RSC_LMT_2.Value__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getQI_IN_LMT_EL_SP</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Liquid resource &lt; NM_ABD_RSC_LMT_HH1 (From Ref Table EDRSCPARMS)?</description>
        <name>LiquidResources_NM_ABD_RSC_LMT_HH1</name>
        <label>LiquidResources &lt; NM_ABD_RSC_LMT_HH1</label>
        <locationX>2097</locationX>
        <locationY>1797</locationY>
        <defaultConnector>
            <targetReference>MA_Needs_More_Info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>NM_ABD_RSC_LMT_HH1_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>checkingSavingIncome</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>NM_ABD_RSC_LMT_HH1.Value__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getABDM_INC_LMT_INDIVIDUAL</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Liquid resources &lt; NM_ABD_RSC_LMT_HH2</description>
        <name>LiquidResources_NM_ABD_RSC_LMT_HH2</name>
        <label>LiquidResources &lt; NM_ABD_RSC_LMT_HH2 ?</label>
        <locationX>2095</locationX>
        <locationY>1590</locationY>
        <defaultConnector>
            <targetReference>MA_Needs_More_Info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>NM_ABD_RSC_LMT_HH2_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>checkingSavingIncome</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>getNM_ABD_RSC_LMT_HH2.Value__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getABDM_INC_LMT_ELIGIBLE_SPOUSE</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Net income &lt;= SNAP_NETINC_LMT</description>
        <name>NetIncome_SNAP_Limit</name>
        <label>NetIncome &lt;= SNAP_Limit</label>
        <locationX>905</locationX>
        <locationY>990</locationY>
        <defaultConnector>
            <targetReference>SNAP_Needs_More_Info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>SNAP_Net_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>netIncome</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>getSNAP_NETINC_LMT.Value__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SNAP_Eligible</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is anyone in the household receiving Medicare?</description>
        <name>ReceivingMedicare</name>
        <label>ReceivingMedicare?</label>
        <locationX>1631</locationX>
        <locationY>1036</locationY>
        <defaultConnector>
            <targetReference>HH_1_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>MedicareYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isReceivingMedicare</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HH_1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <description>[Monthly Gross Income  - ( [20%(Monthly gross income)] - [standard deduction from Ref Table EDSNAPDEDUCTION] - dependent care expenses  - child support expenses)]</description>
        <name>adjustedGrossIncome</name>
        <dataType>Currency</dataType>
        <expression>{!grossIncome} - (20/100 * {!grossIncome}) - {!getSNAP_DEDUCTION_AMOUNT.Value__c} - {!monthlyChildCareExpense} - {!childSupportExpense}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>1. If &quot;Is anyone in the household age 60 or older, blind, or disabled?&quot; = &apos;Yes&apos;:
Adjusted Shelter Expense Value = Shelter Expense Value 
2. &quot;Else:Adjusted Shelter Expense Value = Lesser value of (value from step 2) OR (SNAP_MAX_EXS_SHL_AMT from Ref Table EDSNAPPARMS)&quot;</description>
        <name>adjustedShelterExpenseValue</name>
        <dataType>Currency</dataType>
        <expression>IF({!isAnyoneBlind}, {!shelterExpenseValue},
     IF(({!shelterExpenseValue}&lt;{!getSNAP_MAX_EXS_SHL_AMT.Value__c}), {!shelterExpenseValue},{!getSNAP_MAX_EXS_SHL_AMT.Value__c})
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Calculates Income minus expenses</description>
        <name>ApplicableIncome</name>
        <dataType>Number</dataType>
        <expression>{!grossIncome}-{!monthlyChildCareExpense} -{!childSupportExpense}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Monthly gross income - monthly child support expenses</description>
        <name>CCAP_Income</name>
        <dataType>Number</dataType>
        <expression>{!grossIncome} - {!childSupportExpense}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>(Adjusted Gross Income / 2)  - (Adjusted Shelter Expense Value).</description>
        <name>netIncome</name>
        <dataType>Currency</dataType>
        <expression>({!adjustedGrossIncome} /2) - {!adjustedShelterExpenseValue}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Reported monthly shelter expenses + Utility Allowance Determination</description>
        <name>shelterExpenseValue</name>
        <dataType>Currency</dataType>
        <expression>{!combinedShelterExpense} + {!utilityAllowance}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Utility Allowance Determination for SNAP</description>
        <name>utilityAllowance</name>
        <dataType>Number</dataType>
        <expression>IF( {!anyheatingOrCoolingExpense}, {!getSNAP_STD_ULT_ALW.Value__c},
       IF({!isHhBilledMoreThanOneExpense},{!getSNAP_BS_ULT_ALW.Value__c},0)      
)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>SSP_PrescreeningRules {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SSP_PrescreeningRules</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>53</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>IsAnyoneChildDecision</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Does the household pay for heating or cooling separate from rent or mortgage?</description>
        <name>anyheatingOrCoolingExpense</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Is anyone in the household receiving Supplemental Security Income (SSI)?</description>
        <name>anySSIncome</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Boolean value to store the CCAP decision</description>
        <name>CCAP_Decision</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Input - How much does the household have in checking/savings accounts and cash on hand?</description>
        <name>checkingSavingIncome</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>Input - How much is your combined household&apos;s monthly child support expenses for children who are not part of the household?</description>
        <name>childSupportExpense</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>How much is your combined monthly shelter expense, such as rent or mortgage)?</description>
        <name>combinedShelterExpense</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>Input - What is the household&apos;s combined monthly gross income (income before taxes) from working and other sources?</description>
        <name>grossIncome</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>Is anyone in the household age 60 or older, blind, or disabled?</description>
        <name>isAnyoneBlind</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Input -Is anyone child?</description>
        <name>isAnyoneChild</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Input Variable for is anyone pregnant</description>
        <name>isAnyoneMigrant</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Is anyone in the household pregnant?</description>
        <name>isAnyonePregnant</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Does the household pay for more than one utility expense?</description>
        <name>isHhBilledMoreThanOneExpense</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Is anyone in the household receiving Long Term Care (LTC) services, such as through waiver or a nursing facility?</description>
        <name>isReceivingLTC</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Is anyone in the household receiving Medicare?</description>
        <name>isReceivingMedicare</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>KTAP Decision. True correspond to eligible, false correspond to Need more Info</description>
        <name>KTAP_Decision</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>MA decision</description>
        <name>MA_Decision</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Input - How much is your combined household&apos;s monthly child care and/or dependent care expenses?</description>
        <name>monthlyChildCareExpense</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>Number of People in Head of Household</description>
        <name>noOfPeopleInHh</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>SNAP_Decision</description>
        <name>SNAP_Decision</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Holds the type of reference data.</description>
        <name>Type</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>KTAP</stringValue>
        </value>
    </variables>
</Flow>
