force-app/main/default/flows/SSP_NotEnoughInformation_Update_For_Resources.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>

<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    
    <decisions>
        
        <processMetadataValues>
            
            <name>index</name>
            
            <value>
                
                <numberValue>0.0</numberValue>
                
            </value>
            
        </processMetadataValues>
        
        <name>myDecision</name>
        
        <label>myDecision</label>
        
        <locationX>50</locationX>
        
        <locationY>0</locationY>
        
        <defaultConnector>
            
            <targetReference>myDecision2</targetReference>
            
        </defaultConnector>
        
        <defaultConnectorLabel>default</defaultConnectorLabel>
        
        <rules>
            
            <name>myRule_1</name>
            
            <conditionLogic>and</conditionLogic>
            
            <conditions>
                
                <processMetadataValues>
                    
                    <name>inputDataType</name>
                    
                    <value>
                        
                        <stringValue>String</stringValue>
                        
                    </value>
                    
                </processMetadataValues>
                
                <processMetadataValues>
                    
                    <name>leftHandSideType</name>
                    
                    <value>
                        
                        <stringValue>String</stringValue>
                        
                    </value>
                    
                </processMetadataValues>
                
                <processMetadataValues>
                    
                    <name>operatorDataType</name>
                    
                    <value>
                        
                        <stringValue>String</stringValue>
                        
                    </value>
                    
                </processMetadataValues>
                
                <processMetadataValues>
                    
                    <name>rightHandSideType</name>
                    
                    <value>
                        
                        <stringValue>String</stringValue>
                        
                    </value>
                    
                </processMetadataValues>
                
                <leftValueReference>myVariable_current.RecordType.DeveloperName</leftValueReference>
                
                <operator>EqualTo</operator>
                
                <rightValue>
                    
                    <stringValue>Resource</stringValue>
                    
                </rightValue>
                
            </conditions>
            
            <conditions>
                
                <processMetadataValues>
                    
                    <name>inputDataType</name>
                    
                    <value>
                        
                        <stringValue>Picklist</stringValue>
                        
                    </value>
                    
                </processMetadataValues>
                
                <processMetadataValues>
                    
                    <name>leftHandSideType</name>
                    
                    <value>
                        
                        <stringValue>Picklist</stringValue>
                        
                    </value>
                    
                </processMetadataValues>
                
                <processMetadataValues>
                    
                    <name>operatorDataType</name>
                    
                    <value>
                        
                        <stringValue>String</stringValue>
                        
                    </value>
                    
                </processMetadataValues>
                
                <processMetadataValues>
                    
                    <name>rightHandSideType</name>
                    
                    <value>
                        
                        <stringValue>Picklist</stringValue>
                        
                    </value>
                    
                </processMetadataValues>
                
                <leftValueReference>myVariable_current.ResourceTypeCode__c</leftValueReference>
                
                <operator>EqualTo</operator>
                
                <rightValue>
                    
                    <stringValue>FA</stringValue>
                    
                </rightValue>
                
            </conditions>
            
            <conditions>
                
                <processMetadataValues>
                    
                    <name>inputDataType</name>
                    
                    <value>
                        
                        <stringValue>Boolean</stringValue>
                        
                    </value>
                    
                </processMetadataValues>
                
                <processMetadataValues>
                    
                    <name>leftHandSideType</name>
                    
                    <value>
                        
                        <stringValue>Boolean</stringValue>
                        
                    </value>
                    
                </processMetadataValues>
                
                <processMetadataValues>
                    
                    <name>operatorDataType</name>
                    
                    <value>
                        
                        <stringValue>Boolean</stringValue>
                        
                    </value>
                    
                </processMetadataValues>
                
                <processMetadataValues>
                    
                    <name>rightHandSideType</name>
                    
                    <value>
                        
                        <stringValue>Boolean</stringValue>
                        
                    </value>
                    
                </processMetadataValues>
                
                <leftValueReference>myVariable_current.NotEnoughInformation__c</leftValueReference>
                
                <operator>EqualTo</operator>
                
                <rightValue>
                    
                    <booleanValue>true</booleanValue>
                    
                </rightValue>
                
            </conditions>
            
            <connector>
                
                <targetReference>myRule_1_A1</targetReference>
                
            </connector>
            
            <label>Check if Asset is of Type Resource and Resource Type is Funeral Contract</label>
            
        </rules>
        
    </decisions>
    
    <decisions>
        
        <processMetadataValues>
            
            <name>index</name>
            
            <value>
                
                <numberValue>1.0</numberValue>
                
            </value>
            
        </processMetadataValues>
        
        <name>myDecision2</name>
        
        <label>myDecision2</label>
        
        <locationX>50</locationX>
        
        <locationY>0</locationY>
        
        <defaultConnector>
            
            <targetReference>myDecision4</targetReference>
            
        </defaultConnector>
        
        <defaultConnectorLabel>default</defaultConnectorLabel>
        
        <rules>
            
            <name>myRule_3</name>
            
            <conditionLogic>and</conditionLogic>
            
            <conditions>
                
                <processMetadataValues>
                    
                    <name>inputDataType</name>
                    
                    <value>
                        
                        <stringValue>String</stringValue>
                        
                    </value>
                    
                </processMetadataValues>
                
                <processMetadataValues>
                    
                    <name>leftHandSideType</name>
                    
                    <value>
                        
                        <stringValue>String</stringValue>
                        
                    </value>
                    
                </processMetadataValues>
                
                <processMetadataValues>
                    
                    <name>operatorDataType</name>
                    
                    <value>
                        
                        <stringValue>String</stringValue>
                        
                    </value>
                    
                </processMetadataValues>
                
                <processMetadataValues>
                    
                    <name>rightHandSideType</name>
                    
                    <value>
                        
                        <stringValue>String</stringValue>
                        
                    </value>
                    
                </processMetadataValues>
                
                <leftValueReference>myVariable_current.RecordType.DeveloperName</leftValueReference>
                
                <operator>EqualTo</operator>
                
                <rightValue>
                    
                    <stringValue>Resource</stringValue>
                    
                </rightValue>
                
            </conditions>
            
            <conditions>
                
                <processMetadataValues>
                    
                    <name>inputDataType</name>
                    
                    <value>
                        
                        <stringValue>Picklist</stringValue>
                        
                    </value>
                    
                </processMetadataValues>
                
                <processMetadataValues>
                    
                    <name>leftHandSideType</name>
                    
                    <value>
                        
                        <stringValue>Picklist</stringValue>
                        
                    </value>
                    
                </processMetadataValues>
                
                <processMetadataValues>
                    
                    <name>operatorDataType</name>
                    
                    <value>
                        
                        <stringValue>String</stringValue>
                        
                    </value>
                    
                </processMetadataValues>
                
                <processMetadataValues>
                    
                    <name>rightHandSideType</name>
                    
                    <value>
                        
                        <stringValue>Picklist</stringValue>
                        
                    </value>
                    
                </processMetadataValues>
                
                <leftValueReference>myVariable_current.ResourceTypeCode__c</leftValueReference>
                
                <operator>EqualTo</operator>
                
                <rightValue>
                    
                    <stringValue>RP</stringValue>
                    
                </rightValue>
                
            </conditions>
            
            <conditions>
                
                <processMetadataValues>
                    
                    <name>inputDataType</name>
                    
                    <value>
                        
                        <stringValue>Boolean</stringValue>
                        
                    </value>
                    
                </processMetadataValues>
                
                <processMetadataValues>
                    
                    <name>leftHandSideType</name>
                    
                    <value>
                        
                        <stringValue>Boolean</stringValue>
                        
                    </value>
                    
                </processMetadataValues>
                
                <processMetadataValues>
                    
                    <name>operatorDataType</name>
                    
                    <value>
                        
                        <stringValue>Boolean</stringValue>
                        
                    </value>
                    
                </processMetadataValues>
                
                <processMetadataValues>
                    
                    <name>rightHandSideType</name>
                    
                    <value>
                        
                        <stringValue>Boolean</stringValue>
                        
                    </value>
                    
                </processMetadataValues>
                
                <leftValueReference>myVariable_current.NotEnoughInformation__c</leftValueReference>
                
                <operator>EqualTo</operator>
                
                <rightValue>
                    
                    <booleanValue>true</booleanValue>
                    
                </rightValue>
                
            </conditions>
            
            <connector>
                
                <targetReference>myRule_3_A1</targetReference>
                
            </connector>
            
            <label>Check if Asset is of Type Resource and Resource Type is Real Estate Property</label>
            
        </rules>
        
    </decisions>
    
    <decisions>
        
        <processMetadataValues>
            
            <name>index</name>
            
            <value>
                
                <numberValue>2.0</numberValue>
                
            </value>
            
        </processMetadataValues>
        
        <name>myDecision4</name>
        
        <label>myDecision4</label>
        
        <locationX>50</locationX>
        
        <locationY>0</locationY>
        
        <defaultConnector>
            
            <targetReference>myDecision6</targetReference>
            
        </defaultConnector>
        
        <defaultConnectorLabel>default</defaultConnectorLabel>
        
        <rules>
            
            <name>myRule_5</name>
            
            <conditionLogic>and</conditionLogic>
            
            <conditions>
                
                <processMetadataValues>
                    
                    <name>inputDataType</name>
                    
                    <value>
                        
                        <stringValue>String</stringValue>
                        
                    </value>
                    
                </processMetadataValues>
                
                <processMetadataValues>
                    
                    <name>leftHandSideType</name>
                    
                    <value>
                        
                        <stringValue>String</stringValue>
                        
                    </value>
                    
                </processMetadataValues>
                
                <processMetadataValues>
                    
                    <name>operatorDataType</name>
                    
                    <value>
                        
                        <stringValue>String</stringValue>
                        
                    </value>
                    
                </processMetadataValues>
                
                <processMetadataValues>
                    
                    <name>rightHandSideType</name>
                    
                    <value>
                        
                        <stringValue>String</stringValue>
                        
                    </value>
                    
                </processMetadataValues>
                
                <leftValueReference>myVariable_current.RecordType.DeveloperName</leftValueReference>
                
                <operator>EqualTo</operator>
                
                <rightValue>
                    
                    <stringValue>Resource</stringValue>
                    
                </rightValue>
                
            </conditions>
            
            <conditions>
                
                <processMetadataValues>
                    
                    <name>inputDataType</name>
                    
                    <value>
                        
                        <stringValue>Picklist</stringValue>
                        
                    </value>
                    
                </processMetadataValues>
                
                <processMetadataValues>
                    
                    <name>leftHandSideType</name>
                    
                    <value>
                        
                        <stringValue>Picklist</stringValue>
                        
                    </value>
                    
                </processMetadataValues>
                
                <processMetadataValues>
                    
                    <name>operatorDataType</name>
                    
                    <value>
                        
                        <stringValue>String</stringValue>
                        
                    </value>
                    
                </processMetadataValues>
                
                <processMetadataValues>
                    
                    <name>rightHandSideType</name>
                    
                    <value>
                        
                        <stringValue>Picklist</stringValue>
                        
                    </value>
                    
                </processMetadataValues>
                
                <leftValueReference>myVariable_current.ResourceTypeCode__c</leftValueReference>
                
                <operator>EqualTo</operator>
                
                <rightValue>
                    
                    <stringValue>VI</stringValue>
                    
                </rightValue>
                
            </conditions>
            
            <conditions>
                
                <processMetadataValues>
                    
                    <name>inputDataType</name>
                    
                    <value>
                        
                        <stringValue>Boolean</stringValue>
                        
                    </value>
                    
                </processMetadataValues>
                
                <processMetadataValues>
                    
                    <name>leftHandSideType</name>
                    
                    <value>
                        
                        <stringValue>Boolean</stringValue>
                        
                    </value>
                    
                </processMetadataValues>
                
                <processMetadataValues>
                    
                    <name>operatorDataType</name>
                    
                    <value>
                        
                        <stringValue>Boolean</stringValue>
                        
                    </value>
                    
                </processMetadataValues>
                
                <processMetadataValues>
                    
                    <name>rightHandSideType</name>
                    
                    <value>
                        
                        <stringValue>Boolean</stringValue>
                        
                    </value>
                    
                </processMetadataValues>
                
                <leftValueReference>myVariable_current.NotEnoughInformation__c</leftValueReference>
                
                <operator>EqualTo</operator>
                
                <rightValue>
                    
                    <booleanValue>true</booleanValue>
                    
                </rightValue>
                
            </conditions>
            
            <connector>
                
                <targetReference>myRule_5_A1</targetReference>
                
            </connector>
            
            <label>Check if Asset is of Type Resource and Resource Type is Vehicle</label>
            
        </rules>
        
    </decisions>
    
    <decisions>
        
        <processMetadataValues>
            
            <name>index</name>
            
            <value>
                
                <numberValue>3.0</numberValue>
                
            </value>
            
        </processMetadataValues>
        
        <name>myDecision6</name>
        
        <label>myDecision6</label>
        
        <locationX>50</locationX>
        
        <locationY>0</locationY>
        
        <defaultConnectorLabel>default</defaultConnectorLabel>
        
        <rules>
            
            <name>myRule_7</name>
            
            <conditionLogic>and</conditionLogic>
            
            <conditions>
                
                <processMetadataValues>
                    
                    <name>inputDataType</name>
                    
                    <value>
                        
                        <stringValue>String</stringValue>
                        
                    </value>
                    
                </processMetadataValues>
                
                <processMetadataValues>
                    
                    <name>leftHandSideType</name>
                    
                    <value>
                        
                        <stringValue>String</stringValue>
                        
                    </value>
                    
                </processMetadataValues>
                
                <processMetadataValues>
                    
                    <name>operatorDataType</name>
                    
                    <value>
                        
                        <stringValue>String</stringValue>
                        
                    </value>
                    
                </processMetadataValues>
                
                <processMetadataValues>
                    
                    <name>rightHandSideType</name>
                    
                    <value>
                        
                        <stringValue>String</stringValue>
                        
                    </value>
                    
                </processMetadataValues>
                
                <leftValueReference>myVariable_current.RecordType.DeveloperName</leftValueReference>
                
                <operator>EqualTo</operator>
                
                <rightValue>
                    
                    <stringValue>Resource</stringValue>
                    
                </rightValue>
                
            </conditions>
            
            <conditions>
                
                <processMetadataValues>
                    
                    <name>inputDataType</name>
                    
                    <value>
                        
                        <stringValue>Picklist</stringValue>
                        
                    </value>
                    
                </processMetadataValues>
                
                <processMetadataValues>
                    
                    <name>leftHandSideType</name>
                    
                    <value>
                        
                        <stringValue>Picklist</stringValue>
                        
                    </value>
                    
                </processMetadataValues>
                
                <processMetadataValues>
                    
                    <name>operatorDataType</name>
                    
                    <value>
                        
                        <stringValue>String</stringValue>
                        
                    </value>
                    
                </processMetadataValues>
                
                <processMetadataValues>
                    
                    <name>rightHandSideType</name>
                    
                    <value>
                        
                        <stringValue>Picklist</stringValue>
                        
                    </value>
                    
                </processMetadataValues>
                
                <leftValueReference>myVariable_current.ResourceTypeCode__c</leftValueReference>
                
                <operator>EqualTo</operator>
                
                <rightValue>
                    
                    <stringValue>LI</stringValue>
                    
                </rightValue>
                
            </conditions>
            
            <conditions>
                
                <processMetadataValues>
                    
                    <name>inputDataType</name>
                    
                    <value>
                        
                        <stringValue>Boolean</stringValue>
                        
                    </value>
                    
                </processMetadataValues>
                
                <processMetadataValues>
                    
                    <name>leftHandSideType</name>
                    
                    <value>
                        
                        <stringValue>Boolean</stringValue>
                        
                    </value>
                    
                </processMetadataValues>
                
                <processMetadataValues>
                    
                    <name>operatorDataType</name>
                    
                    <value>
                        
                        <stringValue>Boolean</stringValue>
                        
                    </value>
                    
                </processMetadataValues>
                
                <processMetadataValues>
                    
                    <name>rightHandSideType</name>
                    
                    <value>
                        
                        <stringValue>Boolean</stringValue>
                        
                    </value>
                    
                </processMetadataValues>
                
                <leftValueReference>myVariable_current.NotEnoughInformation__c</leftValueReference>
                
                <operator>EqualTo</operator>
                
                <rightValue>
                    
                    <booleanValue>true</booleanValue>
                    
                </rightValue>
                
            </conditions>
            
            <connector>
                
                <targetReference>myRule_7_A1</targetReference>
                
            </connector>
            
            <label>Check if Asset is of Type Resource and Resource Type is Life Insurance</label>
            
        </rules>
        
    </decisions>
    
    <description>This Process is used to clear the values stored on the Resource Asset Record when &apos;Not Enough Information&apos; is made true</description>
    
    <interviewLabel>SSP_NotEnoughInformation_Update_For_Resources-3_InterviewLabel</interviewLabel>
    
    <label>SSP Not Enough Information Update for Resources</label>
    
    <processMetadataValues>
        
        <name>ObjectType</name>
        
        <value>
            
            <stringValue>SSP_Asset__c</stringValue>
            
        </value>
        
    </processMetadataValues>
    
    <processMetadataValues>
        
        <name>ObjectVariable</name>
        
        <value>
            
            <elementReference>myVariable_current</elementReference>
            
        </value>
        
    </processMetadataValues>
    
    <processMetadataValues>
        
        <name>OldObjectVariable</name>
        
        <value>
            
            <elementReference>myVariable_old</elementReference>
            
        </value>
        
    </processMetadataValues>
    
    <processMetadataValues>
        
        <name>TriggerType</name>
        
        <value>
            
            <stringValue>onAllChanges</stringValue>
            
        </value>
        
    </processMetadataValues>
    
    <processType>Workflow</processType>
    
    <recordUpdates>
        
        <processMetadataValues>
            
            <name>evaluationType</name>
            
            <value>
                
                <stringValue>always</stringValue>
                
            </value>
            
        </processMetadataValues>
        
        <processMetadataValues>
            
            <name>extraTypeInfo</name>
            
        </processMetadataValues>
        
        <processMetadataValues>
            
            <name>isChildRelationship</name>
            
            <value>
                
                <booleanValue>false</booleanValue>
                
            </value>
            
        </processMetadataValues>
        
        <processMetadataValues>
            
            <name>reference</name>
            
            <value>
                
                <stringValue>[SSP_Asset__c]</stringValue>
                
            </value>
            
        </processMetadataValues>
        
        <processMetadataValues>
            
            <name>referenceTargetField</name>
            
        </processMetadataValues>
        
        <name>myRule_1_A1</name>
        
        <label>Update Resource Asset Record values to empty</label>
        
        <locationX>100</locationX>
        
        <locationY>200</locationY>
        
        <connector>
            
            <targetReference>myRule_1_A2</targetReference>
            
        </connector>
        
        <filters>
            
            <processMetadataValues>
                
                <name>implicit</name>
                
                <value>
                    
                    <booleanValue>true</booleanValue>
                    
                </value>
                
            </processMetadataValues>
            
            <field>Id</field>
            
            <operator>EqualTo</operator>
            
            <value>
                
                <elementReference>myVariable_current.Id</elementReference>
                
            </value>
            
        </filters>
        
        <inputAssignments>
            
            <processMetadataValues>
                
                <name>dataType</name>
                
                <value>
                    
                    <stringValue>Picklist</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>isRequired</name>
                
                <value>
                    
                    <booleanValue>false</booleanValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideLabel</name>
                
                <value>
                    
                    <stringValue>How is Funeral Contract Funded ?</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideReferenceTo</name>
                
                <value>
                    
                    <stringValue/>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>rightHandSideType</name>
                
                <value>
                    
                    <stringValue>GlobalConstant</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <field>FuneralFundCode__c</field>
            
        </inputAssignments>
        
        <inputAssignments>
            
            <processMetadataValues>
                
                <name>dataType</name>
                
                <value>
                    
                    <stringValue>String</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>isRequired</name>
                
                <value>
                    
                    <booleanValue>false</booleanValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideLabel</name>
                
                <value>
                    
                    <stringValue>Funeral Home and Location</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideReferenceTo</name>
                
                <value>
                    
                    <stringValue/>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>rightHandSideType</name>
                
                <value>
                    
                    <stringValue>GlobalConstant</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <field>FuneralLocation__c</field>
            
        </inputAssignments>
        
        <inputAssignments>
            
            <processMetadataValues>
                
                <name>dataType</name>
                
                <value>
                    
                    <stringValue>Picklist</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>isRequired</name>
                
                <value>
                    
                    <booleanValue>false</booleanValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideLabel</name>
                
                <value>
                    
                    <stringValue>Has Itemized Stmt of Goods Signed ?</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideReferenceTo</name>
                
                <value>
                    
                    <stringValue/>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>rightHandSideType</name>
                
                <value>
                    
                    <stringValue>GlobalConstant</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <field>HasItemizedStmtOfGoodsSignByClientToggle__c</field>
            
        </inputAssignments>
        
        <inputAssignments>
            
            <processMetadataValues>
                
                <name>dataType</name>
                
                <value>
                    
                    <stringValue>Picklist</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>isRequired</name>
                
                <value>
                    
                    <booleanValue>false</booleanValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideLabel</name>
                
                <value>
                    
                    <stringValue>Has Policy assigned for Funeral Home ?</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideReferenceTo</name>
                
                <value>
                    
                    <stringValue/>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>rightHandSideType</name>
                
                <value>
                    
                    <stringValue>GlobalConstant</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <field>HasPolicyAssignedToFuneralHomeToggle__c</field>
            
        </inputAssignments>
        
        <inputAssignments>
            
            <processMetadataValues>
                
                <name>dataType</name>
                
                <value>
                    
                    <stringValue>Currency</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>isRequired</name>
                
                <value>
                    
                    <booleanValue>false</booleanValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideLabel</name>
                
                <value>
                    
                    <stringValue>Pre Funeral Goods and Services Cost</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideReferenceTo</name>
                
                <value>
                    
                    <stringValue/>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>rightHandSideType</name>
                
                <value>
                    
                    <stringValue>GlobalConstant</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <field>PreFuneralAgmtGoodsAndServicesCost__c</field>
            
        </inputAssignments>
        
        <object>SSP_Asset__c</object>
        
    </recordUpdates>
    
    <recordUpdates>
        
        <processMetadataValues>
            
            <name>evaluationType</name>
            
            <value>
                
                <stringValue>always</stringValue>
                
            </value>
            
        </processMetadataValues>
        
        <processMetadataValues>
            
            <name>extraTypeInfo</name>
            
        </processMetadataValues>
        
        <processMetadataValues>
            
            <name>isChildRelationship</name>
            
            <value>
                
                <booleanValue>true</booleanValue>
                
            </value>
            
        </processMetadataValues>
        
        <processMetadataValues>
            
            <name>reference</name>
            
            <value>
                
                <stringValue>[SSP_Asset__c].SSP_InsuranceCoveredIndiv__r</stringValue>
                
            </value>
            
        </processMetadataValues>
        
        <processMetadataValues>
            
            <name>referenceTargetField</name>
            
        </processMetadataValues>
        
        <name>myRule_1_A2</name>
        
        <label>Update Resource Asset Related Record values to empty</label>
        
        <locationX>100</locationX>
        
        <locationY>300</locationY>
        
        <filters>
            
            <processMetadataValues>
                
                <name>implicit</name>
                
                <value>
                    
                    <booleanValue>true</booleanValue>
                    
                </value>
                
            </processMetadataValues>
            
            <field>SSP_Asset__c</field>
            
            <operator>EqualTo</operator>
            
            <value>
                
                <elementReference>myVariable_current.Id</elementReference>
                
            </value>
            
        </filters>
        
        <inputAssignments>
            
            <processMetadataValues>
                
                <name>dataType</name>
                
                <value>
                    
                    <stringValue>ID</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>isRequired</name>
                
                <value>
                    
                    <booleanValue>false</booleanValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideLabel</name>
                
                <value>
                    
                    <stringValue>SSP_Asset</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideReferenceTo</name>
                
                <value>
                    
                    <stringValue>SSP_Asset__c</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>rightHandSideType</name>
                
                <value>
                    
                    <stringValue>GlobalConstant</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <field>SSP_Asset__c</field>
            
        </inputAssignments>
        
        <object>SSP_InsuranceCoveredIndiv__c</object>
        
    </recordUpdates>
    
    <recordUpdates>
        
        <processMetadataValues>
            
            <name>evaluationType</name>
            
            <value>
                
                <stringValue>always</stringValue>
                
            </value>
            
        </processMetadataValues>
        
        <processMetadataValues>
            
            <name>extraTypeInfo</name>
            
        </processMetadataValues>
        
        <processMetadataValues>
            
            <name>isChildRelationship</name>
            
            <value>
                
                <booleanValue>false</booleanValue>
                
            </value>
            
        </processMetadataValues>
        
        <processMetadataValues>
            
            <name>reference</name>
            
            <value>
                
                <stringValue>[SSP_Asset__c]</stringValue>
                
            </value>
            
        </processMetadataValues>
        
        <processMetadataValues>
            
            <name>referenceTargetField</name>
            
        </processMetadataValues>
        
        <name>myRule_3_A1</name>
        
        <label>Update Resource Asset Record values to empty</label>
        
        <locationX>300</locationX>
        
        <locationY>200</locationY>
        
        <filters>
            
            <processMetadataValues>
                
                <name>implicit</name>
                
                <value>
                    
                    <booleanValue>true</booleanValue>
                    
                </value>
                
            </processMetadataValues>
            
            <field>Id</field>
            
            <operator>EqualTo</operator>
            
            <value>
                
                <elementReference>myVariable_current.Id</elementReference>
                
            </value>
            
        </filters>
        
        <inputAssignments>
            
            <processMetadataValues>
                
                <name>dataType</name>
                
                <value>
                    
                    <stringValue>Picklist</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>isRequired</name>
                
                <value>
                    
                    <booleanValue>false</booleanValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideLabel</name>
                
                <value>
                    
                    <stringValue>Is Homestead Property ?</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideReferenceTo</name>
                
                <value>
                    
                    <stringValue/>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>rightHandSideType</name>
                
                <value>
                    
                    <stringValue>GlobalConstant</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <field>IsHomeHomesteadPropertyToggle__c</field>
            
        </inputAssignments>
        
        <inputAssignments>
            
            <processMetadataValues>
                
                <name>dataType</name>
                
                <value>
                    
                    <stringValue>Picklist</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>isRequired</name>
                
                <value>
                    
                    <booleanValue>false</booleanValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideLabel</name>
                
                <value>
                    
                    <stringValue>Is Income Essential to Self Support ?</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideReferenceTo</name>
                
                <value>
                    
                    <stringValue/>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>rightHandSideType</name>
                
                <value>
                    
                    <stringValue>GlobalConstant</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <field>IsIncomeEssentialToSelfSupportToggle__c</field>
            
        </inputAssignments>
        
        <inputAssignments>
            
            <processMetadataValues>
                
                <name>dataType</name>
                
                <value>
                    
                    <stringValue>Picklist</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>isRequired</name>
                
                <value>
                    
                    <booleanValue>false</booleanValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideLabel</name>
                
                <value>
                    
                    <stringValue>Is Income Producing Property ?</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideReferenceTo</name>
                
                <value>
                    
                    <stringValue/>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>rightHandSideType</name>
                
                <value>
                    
                    <stringValue>GlobalConstant</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <field>IsIncomeProducingPropertyToggle__c</field>
            
        </inputAssignments>
        
        <inputAssignments>
            
            <processMetadataValues>
                
                <name>dataType</name>
                
                <value>
                    
                    <stringValue>Picklist</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>isRequired</name>
                
                <value>
                    
                    <booleanValue>false</booleanValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideLabel</name>
                
                <value>
                    
                    <stringValue>Is there another owner?</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideReferenceTo</name>
                
                <value>
                    
                    <stringValue/>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>rightHandSideType</name>
                
                <value>
                    
                    <stringValue>GlobalConstant</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <field>IsThereAnotherOwnerToggle__c</field>
            
        </inputAssignments>
        
        <inputAssignments>
            
            <processMetadataValues>
                
                <name>dataType</name>
                
                <value>
                    
                    <stringValue>Currency</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>isRequired</name>
                
                <value>
                    
                    <booleanValue>false</booleanValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideLabel</name>
                
                <value>
                    
                    <stringValue>Current Loan Amount Owed ($)</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideReferenceTo</name>
                
                <value>
                    
                    <stringValue/>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>rightHandSideType</name>
                
                <value>
                    
                    <stringValue>GlobalConstant</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <field>LoanBalance__c</field>
            
        </inputAssignments>
        
        <inputAssignments>
            
            <processMetadataValues>
                
                <name>dataType</name>
                
                <value>
                    
                    <stringValue>String</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>isRequired</name>
                
                <value>
                    
                    <booleanValue>false</booleanValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideLabel</name>
                
                <value>
                    
                    <stringValue>Real Estate Address and Description</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideReferenceTo</name>
                
                <value>
                    
                    <stringValue/>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>rightHandSideType</name>
                
                <value>
                    
                    <stringValue>GlobalConstant</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <field>Location__c</field>
            
        </inputAssignments>
        
        <inputAssignments>
            
            <processMetadataValues>
                
                <name>dataType</name>
                
                <value>
                    
                    <stringValue>Currency</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>isRequired</name>
                
                <value>
                    
                    <booleanValue>false</booleanValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideLabel</name>
                
                <value>
                    
                    <stringValue>Property Fair Market Value ($)</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideReferenceTo</name>
                
                <value>
                    
                    <stringValue/>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>rightHandSideType</name>
                
                <value>
                    
                    <stringValue>GlobalConstant</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <field>RealEstateFairMarketValue__c</field>
            
        </inputAssignments>
        
        <inputAssignments>
            
            <processMetadataValues>
                
                <name>dataType</name>
                
                <value>
                    
                    <stringValue>Picklist</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>isRequired</name>
                
                <value>
                    
                    <booleanValue>false</booleanValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideLabel</name>
                
                <value>
                    
                    <stringValue>Resource SubType</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideReferenceTo</name>
                
                <value>
                    
                    <stringValue/>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>rightHandSideType</name>
                
                <value>
                    
                    <stringValue>GlobalConstant</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <field>ResourceSubTypeCode__c</field>
            
        </inputAssignments>
        
        <object>SSP_Asset__c</object>
        
    </recordUpdates>
    
    <recordUpdates>
        
        <processMetadataValues>
            
            <name>evaluationType</name>
            
            <value>
                
                <stringValue>always</stringValue>
                
            </value>
            
        </processMetadataValues>
        
        <processMetadataValues>
            
            <name>extraTypeInfo</name>
            
        </processMetadataValues>
        
        <processMetadataValues>
            
            <name>isChildRelationship</name>
            
            <value>
                
                <booleanValue>false</booleanValue>
                
            </value>
            
        </processMetadataValues>
        
        <processMetadataValues>
            
            <name>reference</name>
            
            <value>
                
                <stringValue>[SSP_Asset__c]</stringValue>
                
            </value>
            
        </processMetadataValues>
        
        <processMetadataValues>
            
            <name>referenceTargetField</name>
            
        </processMetadataValues>
        
        <name>myRule_5_A1</name>
        
        <label>Update Resource Asset Record values to empty</label>
        
        <locationX>500</locationX>
        
        <locationY>200</locationY>
        
        <filters>
            
            <processMetadataValues>
                
                <name>implicit</name>
                
                <value>
                    
                    <booleanValue>true</booleanValue>
                    
                </value>
                
            </processMetadataValues>
            
            <field>Id</field>
            
            <operator>EqualTo</operator>
            
            <value>
                
                <elementReference>myVariable_current.Id</elementReference>
                
            </value>
            
        </filters>
        
        <inputAssignments>
            
            <processMetadataValues>
                
                <name>dataType</name>
                
                <value>
                    
                    <stringValue>Picklist</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>isRequired</name>
                
                <value>
                    
                    <booleanValue>false</booleanValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideLabel</name>
                
                <value>
                    
                    <stringValue>Is Individual able to Ride this vehicle?</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideReferenceTo</name>
                
                <value>
                    
                    <stringValue/>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>rightHandSideType</name>
                
                <value>
                    
                    <stringValue>GlobalConstant</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <field>HasAccessToVehicleToggle__c</field>
            
        </inputAssignments>
        
        <inputAssignments>
            
            <processMetadataValues>
                
                <name>dataType</name>
                
                <value>
                    
                    <stringValue>Picklist</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>isRequired</name>
                
                <value>
                    
                    <booleanValue>false</booleanValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideLabel</name>
                
                <value>
                    
                    <stringValue>Has Access to Vehicle ?</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideReferenceTo</name>
                
                <value>
                    
                    <stringValue/>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>rightHandSideType</name>
                
                <value>
                    
                    <stringValue>GlobalConstant</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <field>IsIndividualAbleToRideToggle__c</field>
            
        </inputAssignments>
        
        <inputAssignments>
            
            <processMetadataValues>
                
                <name>dataType</name>
                
                <value>
                    
                    <stringValue>Picklist</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>isRequired</name>
                
                <value>
                    
                    <booleanValue>false</booleanValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideLabel</name>
                
                <value>
                    
                    <stringValue>Is there another owner?</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideReferenceTo</name>
                
                <value>
                    
                    <stringValue/>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>rightHandSideType</name>
                
                <value>
                    
                    <stringValue>GlobalConstant</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <field>IsThereAnotherOwnerToggle__c</field>
            
        </inputAssignments>
        
        <inputAssignments>
            
            <processMetadataValues>
                
                <name>dataType</name>
                
                <value>
                    
                    <stringValue>String</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>isRequired</name>
                
                <value>
                    
                    <booleanValue>false</booleanValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideLabel</name>
                
                <value>
                    
                    <stringValue>Make</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideReferenceTo</name>
                
                <value>
                    
                    <stringValue/>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>rightHandSideType</name>
                
                <value>
                    
                    <stringValue>GlobalConstant</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <field>Make__c</field>
            
        </inputAssignments>
        
        <inputAssignments>
            
            <processMetadataValues>
                
                <name>dataType</name>
                
                <value>
                    
                    <stringValue>String</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>isRequired</name>
                
                <value>
                    
                    <booleanValue>false</booleanValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideLabel</name>
                
                <value>
                    
                    <stringValue>Model Year</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideReferenceTo</name>
                
                <value>
                    
                    <stringValue/>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>rightHandSideType</name>
                
                <value>
                    
                    <stringValue>GlobalConstant</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <field>ModelYear__c</field>
            
        </inputAssignments>
        
        <inputAssignments>
            
            <processMetadataValues>
                
                <name>dataType</name>
                
                <value>
                    
                    <stringValue>String</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>isRequired</name>
                
                <value>
                    
                    <booleanValue>false</booleanValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideLabel</name>
                
                <value>
                    
                    <stringValue>Model</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideReferenceTo</name>
                
                <value>
                    
                    <stringValue/>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>rightHandSideType</name>
                
                <value>
                    
                    <stringValue>GlobalConstant</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <field>Model__c</field>
            
        </inputAssignments>
        
        <inputAssignments>
            
            <processMetadataValues>
                
                <name>dataType</name>
                
                <value>
                    
                    <stringValue>Picklist</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>isRequired</name>
                
                <value>
                    
                    <booleanValue>false</booleanValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideLabel</name>
                
                <value>
                    
                    <stringValue>Why doesn&apos;t have Access to Vehicle ?</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideReferenceTo</name>
                
                <value>
                    
                    <stringValue/>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>rightHandSideType</name>
                
                <value>
                    
                    <stringValue>GlobalConstant</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <field>NoAccessReason__c</field>
            
        </inputAssignments>
        
        <inputAssignments>
            
            <processMetadataValues>
                
                <name>dataType</name>
                
                <value>
                    
                    <stringValue>String</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>isRequired</name>
                
                <value>
                    
                    <booleanValue>false</booleanValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideLabel</name>
                
                <value>
                    
                    <stringValue>Primary User If Other ?</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideReferenceTo</name>
                
                <value>
                    
                    <stringValue/>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>rightHandSideType</name>
                
                <value>
                    
                    <stringValue>GlobalConstant</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <field>PrimaryUserIfOther__c</field>
            
        </inputAssignments>
        
        <inputAssignments>
            
            <processMetadataValues>
                
                <name>dataType</name>
                
                <value>
                    
                    <stringValue>ID</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>isRequired</name>
                
                <value>
                    
                    <booleanValue>false</booleanValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideLabel</name>
                
                <value>
                    
                    <stringValue>Primary User of this Vehicle</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideReferenceTo</name>
                
                <value>
                    
                    <stringValue>SSP_Member__c</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>rightHandSideType</name>
                
                <value>
                    
                    <stringValue>GlobalConstant</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <field>PrimaryUserIndividual__c</field>
            
        </inputAssignments>
        
        <inputAssignments>
            
            <processMetadataValues>
                
                <name>dataType</name>
                
                <value>
                    
                    <stringValue>Date</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>isRequired</name>
                
                <value>
                    
                    <booleanValue>false</booleanValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideLabel</name>
                
                <value>
                    
                    <stringValue>Start Date</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideReferenceTo</name>
                
                <value>
                    
                    <stringValue/>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>rightHandSideType</name>
                
                <value>
                    
                    <stringValue>GlobalConstant</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <field>StartDate__c</field>
            
        </inputAssignments>
        
        <inputAssignments>
            
            <processMetadataValues>
                
                <name>dataType</name>
                
                <value>
                    
                    <stringValue>Picklist</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>isRequired</name>
                
                <value>
                    
                    <booleanValue>false</booleanValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideLabel</name>
                
                <value>
                    
                    <stringValue>Vehicle Category</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideReferenceTo</name>
                
                <value>
                    
                    <stringValue/>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>rightHandSideType</name>
                
                <value>
                    
                    <stringValue>GlobalConstant</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <field>VehicleCategoryCode__c</field>
            
        </inputAssignments>
        
        <inputAssignments>
            
            <processMetadataValues>
                
                <name>dataType</name>
                
                <value>
                    
                    <stringValue>Currency</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>isRequired</name>
                
                <value>
                    
                    <booleanValue>false</booleanValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideLabel</name>
                
                <value>
                    
                    <stringValue>Current Amount Owned for Vehicle ($)</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideReferenceTo</name>
                
                <value>
                    
                    <stringValue/>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>rightHandSideType</name>
                
                <value>
                    
                    <stringValue>GlobalConstant</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <field>VehicleDebt__c</field>
            
        </inputAssignments>
        
        <inputAssignments>
            
            <processMetadataValues>
                
                <name>dataType</name>
                
                <value>
                    
                    <stringValue>Currency</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>isRequired</name>
                
                <value>
                    
                    <booleanValue>false</booleanValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideLabel</name>
                
                <value>
                    
                    <stringValue>Current value of vehicle ($)</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideReferenceTo</name>
                
                <value>
                    
                    <stringValue/>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>rightHandSideType</name>
                
                <value>
                    
                    <stringValue>GlobalConstant</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <field>VehicleFairMarketValue__c</field>
            
        </inputAssignments>
        
        <inputAssignments>
            
            <processMetadataValues>
                
                <name>dataType</name>
                
                <value>
                    
                    <stringValue>Picklist</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>isRequired</name>
                
                <value>
                    
                    <booleanValue>false</booleanValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideLabel</name>
                
                <value>
                    
                    <stringValue>Primarily Vehicle Is Used for</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideReferenceTo</name>
                
                <value>
                    
                    <stringValue/>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>rightHandSideType</name>
                
                <value>
                    
                    <stringValue>GlobalConstant</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <field>VehicleUseReason__c</field>
            
        </inputAssignments>
        
        <object>SSP_Asset__c</object>
        
    </recordUpdates>
    
    <recordUpdates>
        
        <processMetadataValues>
            
            <name>evaluationType</name>
            
            <value>
                
                <stringValue>always</stringValue>
                
            </value>
            
        </processMetadataValues>
        
        <processMetadataValues>
            
            <name>extraTypeInfo</name>
            
        </processMetadataValues>
        
        <processMetadataValues>
            
            <name>isChildRelationship</name>
            
            <value>
                
                <booleanValue>false</booleanValue>
                
            </value>
            
        </processMetadataValues>
        
        <processMetadataValues>
            
            <name>reference</name>
            
            <value>
                
                <stringValue>[SSP_Asset__c]</stringValue>
                
            </value>
            
        </processMetadataValues>
        
        <processMetadataValues>
            
            <name>referenceTargetField</name>
            
        </processMetadataValues>
        
        <name>myRule_7_A1</name>
        
        <label>Update Resource Asset Record values to empty</label>
        
        <locationX>700</locationX>
        
        <locationY>200</locationY>
        
        <filters>
            
            <processMetadataValues>
                
                <name>implicit</name>
                
                <value>
                    
                    <booleanValue>true</booleanValue>
                    
                </value>
                
            </processMetadataValues>
            
            <field>Id</field>
            
            <operator>EqualTo</operator>
            
            <value>
                
                <elementReference>myVariable_current.Id</elementReference>
                
            </value>
            
        </filters>
        
        <inputAssignments>
            
            <processMetadataValues>
                
                <name>dataType</name>
                
                <value>
                    
                    <stringValue>Currency</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>isRequired</name>
                
                <value>
                    
                    <booleanValue>false</booleanValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideLabel</name>
                
                <value>
                    
                    <stringValue>Life insurance face value ($)</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideReferenceTo</name>
                
                <value>
                    
                    <stringValue/>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>rightHandSideType</name>
                
                <value>
                    
                    <stringValue>GlobalConstant</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <field>FaceValueAmount__c</field>
            
        </inputAssignments>
        
        <inputAssignments>
            
            <processMetadataValues>
                
                <name>dataType</name>
                
                <value>
                    
                    <stringValue>String</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>isRequired</name>
                
                <value>
                    
                    <booleanValue>false</booleanValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideLabel</name>
                
                <value>
                    
                    <stringValue>Insurance Company Address</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideReferenceTo</name>
                
                <value>
                    
                    <stringValue/>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>rightHandSideType</name>
                
                <value>
                    
                    <stringValue>GlobalConstant</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <field>InsuranceCompanyAddress__c</field>
            
        </inputAssignments>
        
        <inputAssignments>
            
            <processMetadataValues>
                
                <name>dataType</name>
                
                <value>
                    
                    <stringValue>String</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>isRequired</name>
                
                <value>
                    
                    <booleanValue>false</booleanValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideLabel</name>
                
                <value>
                    
                    <stringValue>Insurance Company Name</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideReferenceTo</name>
                
                <value>
                    
                    <stringValue/>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>rightHandSideType</name>
                
                <value>
                    
                    <stringValue>GlobalConstant</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <field>InsuranceCompanyName__c</field>
            
        </inputAssignments>
        
        <inputAssignments>
            
            <processMetadataValues>
                
                <name>dataType</name>
                
                <value>
                    
                    <stringValue>String</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>isRequired</name>
                
                <value>
                    
                    <booleanValue>false</booleanValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideLabel</name>
                
                <value>
                    
                    <stringValue>Insurance Company Phone Number</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideReferenceTo</name>
                
                <value>
                    
                    <stringValue/>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>rightHandSideType</name>
                
                <value>
                    
                    <stringValue>GlobalConstant</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <field>InsuranceCompanyPhoneNumber__c</field>
            
        </inputAssignments>
        
        <inputAssignments>
            
            <processMetadataValues>
                
                <name>dataType</name>
                
                <value>
                    
                    <stringValue>Picklist</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>isRequired</name>
                
                <value>
                    
                    <booleanValue>false</booleanValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideLabel</name>
                
                <value>
                    
                    <stringValue>Is Policy designate to Pay Burial</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideReferenceTo</name>
                
                <value>
                    
                    <stringValue/>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>rightHandSideType</name>
                
                <value>
                    
                    <stringValue>GlobalConstant</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <field>IsPolicyDesignatedToPayBurialToggle__c</field>
            
        </inputAssignments>
        
        <inputAssignments>
            
            <processMetadataValues>
                
                <name>dataType</name>
                
                <value>
                    
                    <stringValue>Picklist</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>isRequired</name>
                
                <value>
                    
                    <booleanValue>false</booleanValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideLabel</name>
                
                <value>
                    
                    <stringValue>Is Policy for Funeral ?</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideReferenceTo</name>
                
                <value>
                    
                    <stringValue/>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>rightHandSideType</name>
                
                <value>
                    
                    <stringValue>GlobalConstant</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <field>IsPolicyUsedForPrearrangedFuneralToggle__c</field>
            
        </inputAssignments>
        
        <inputAssignments>
            
            <processMetadataValues>
                
                <name>dataType</name>
                
                <value>
                    
                    <stringValue>Currency</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>isRequired</name>
                
                <value>
                    
                    <booleanValue>false</booleanValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideLabel</name>
                
                <value>
                    
                    <stringValue>Current Loan Amount Owed ($)</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideReferenceTo</name>
                
                <value>
                    
                    <stringValue/>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>rightHandSideType</name>
                
                <value>
                    
                    <stringValue>GlobalConstant</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <field>LoanBalance__c</field>
            
        </inputAssignments>
        
        <inputAssignments>
            
            <processMetadataValues>
                
                <name>dataType</name>
                
                <value>
                    
                    <stringValue>String</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>isRequired</name>
                
                <value>
                    
                    <booleanValue>false</booleanValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideLabel</name>
                
                <value>
                    
                    <stringValue>Policy Number</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideReferenceTo</name>
                
                <value>
                    
                    <stringValue/>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>rightHandSideType</name>
                
                <value>
                    
                    <stringValue>GlobalConstant</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <field>PolicyNumber__c</field>
            
        </inputAssignments>
        
        <inputAssignments>
            
            <processMetadataValues>
                
                <name>dataType</name>
                
                <value>
                    
                    <stringValue>Picklist</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>isRequired</name>
                
                <value>
                    
                    <booleanValue>false</booleanValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideLabel</name>
                
                <value>
                    
                    <stringValue>Resource SubType</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideReferenceTo</name>
                
                <value>
                    
                    <stringValue/>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>rightHandSideType</name>
                
                <value>
                    
                    <stringValue>GlobalConstant</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <field>ResourceSubTypeCode__c</field>
            
        </inputAssignments>
        
        <inputAssignments>
            
            <processMetadataValues>
                
                <name>dataType</name>
                
                <value>
                    
                    <stringValue>Date</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>isRequired</name>
                
                <value>
                    
                    <booleanValue>false</booleanValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideLabel</name>
                
                <value>
                    
                    <stringValue>Start Date</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>leftHandSideReferenceTo</name>
                
                <value>
                    
                    <stringValue/>
                    
                </value>
                
            </processMetadataValues>
            
            <processMetadataValues>
                
                <name>rightHandSideType</name>
                
                <value>
                    
                    <stringValue>GlobalConstant</stringValue>
                    
                </value>
                
            </processMetadataValues>
            
            <field>StartDate__c</field>
            
        </inputAssignments>
        
        <object>SSP_Asset__c</object>
        
    </recordUpdates>
    
    <startElementReference>myDecision</startElementReference>
    
    <status>Active</status>
    
    <variables>
        
        <name>myVariable_current</name>
        
        <dataType>SObject</dataType>
        
        <isCollection>false</isCollection>
        
        <isInput>true</isInput>
        
        <isOutput>true</isOutput>
        
        <objectType>SSP_Asset__c</objectType>
        
    </variables>
    
    <variables>
        
        <name>myVariable_old</name>
        
        <dataType>SObject</dataType>
        
        <isCollection>false</isCollection>
        
        <isInput>true</isInput>
        
        <isOutput>false</isOutput>
        
        <objectType>SSP_Asset__c</objectType>
        
    </variables>
    
</Flow>
